- content_for :left_column do
	.form_group
		%h1
			Let's get started!
		= form_for @user do |f|
			.fields

				= f.label "Email"
				= f.text_field :email, :class => :login_email

				= f.label :name, "User Name"
				= f.text_field :name, :class => :login_email

				= f.label :password, "Password"
				= f.password_field :password, :class => :login_email

				= f.label :password_confirmation, "Confirm Password"
				= f.password_field :password_confirmation, :class => :login_email
				%br
				%br
				= f.submit 'Register', :class=>'buttons'
				|
				= link_to 'Login', new_session_url
				|
				= link_to 'Cancel', root_url

- content_for :right_column do
	%h2 Need Help?
	%p
		%b Email: 
		You will use your email to login. We also use this email in all communications with you. Please provide a valid email address.
	%p
		%b Password:
		Your password must be a minimum of 4 characters
	%p
		For additional questions please 
		%b= link_to "contact us", new_contact_url
	%h2 Tip:
	%p
		Remember to check your inbox for our welcome email and follow the directions therein.  You definitely will want to fully activate your account to get the most out of BackMyBook!