Hi
= @user.name
, 
%p
	This email confirms your purchase of 
	= @order.sku.title

%table.admin_table
	%tr
		%td 
			%b Item
		%td 
			%b Amount

	%tr
		%td= @order.sku.title
		%td= number_to_currency( @order.sku.price.to_f / 100 )
	-if @order.coupon.present?
		%tr
			%td Discount
			-if @order.coupon.discount_type == 'cents'
				%td
					(
					= number_to_currency( @order.coupon.discount.to_f / 100)
					)
			-if @order.coupon.discount_type == 'percent'
				%td
					(
					= number_to_currency( @order.coupon.discount.to_f / 100 * @order.sku.price.to_f / 100)
					)
	-if @order.tax_amount.present?
		%tr
			%td Tax
			%td= number_to_currency( @order.tax_amount.to_f / 100)
	-if @order.shipping_amount.present?
		%tr
			%td Shipping
			%td= number_to_currency( @order.shipping_amount.to_f / 100)
	%tr
		%td Total
		%td= number_to_currency( @order.total.to_f / 100 )

%p
	Your confirmation number is:
	= @order.order_transaction.reference
	%br
	Please use it in all correspondence regarding this order.
	

- if not( @order.sku.merch_sku? ) 
	You can download digital items using the links below. After downloading one of the items, you may be prompted to register or login to BackMyBook.com to download the remaining items.  This is to protect the author from digital piracy.  Your email address will not be shared with any other parties.
	%p
		- for item in @order.sku.items
			- if item.respond_to? 'document'
				= link_to item.title, deliver_asset_url( item, :order_id => @order.id )
				%br

- if @order.sku.contains_merch?
	- if @order.sku.owner.is_a? Author
		The following items will be delivered no later than September 2011 by the author:
		= @order.sku.owner.pen_name
		%br
		- for item in @order.sku.items
			- if item.is_a? Merch
				= item.title 
				%br

- if @order.comment.present?
	%p
		Special Order Instructions:
		%br
		= @order.comment
 

%p
	Note that you can always register and login to BackMyBook.com to re-download your digital purchases at any time. 
	%br 
	- if @order.sku.items.first.owner.contact_email.present?
		For questions about the item or shipping (if applicable), you can contact the author directly at:  
		= @order.sku.items.first.owner.contact_email
		%br

	- if @order.sku.items.first.owner.contact_phone.present? 
		or you can call the author at:
		= @order.sku.items.first.owner.contact_phone
		%br

%p
	If you have further questions or issues, please contact us at: http://backmybook.com/contacts/new.  		

%p
	Best Regards,
	
- if @order.sku.owner.is_a? Author
	=@order.sku.owner.pen_name
	and the BackMyBook team
	