Hi 
= @order.sku.owner.pen_name
!
%br
%br
Congratulations! A customer bought one of your items.
%br
%br
Here's the information you'll need to ship it to them.
%br
%br
Best regards,
%br
The 
= APP_NAME 
Team
%br
%br
%hr
Product Name:	
= @order.sku.title
%br
Order Confirmation Number:
= @order.order_transaction.reference
%br
%br
Items in Product:
%br
-for sku_item in @order.sku.sku_items
	-if sku_item.item.is_a? Merch
		= sku_item.item.title 
		%br
%br
Customer Name:	
= @order.user.name
%br
Customer Email:	
= @order.user.email
%br
%br
Shipping Address:
%br	
= @order.shipping_address.name
%br
= @order.shipping_address.full_street
%br
= @order.shipping_address.city_st_zip
%br
%br
Special Order Instructions:
= @order.comment



