%h2 
	New support email from 
	= @contact.email
%br
%br
%h3
	= @contact.subject
%p
	Phone:
	= @contact.phone
%p
	Web Address:
	= @contact.web_address
%p
	Heard about us from:
	= @contect.referrer

%p
	= @contact.content
