%p
	Hi
	= @user.name
	,

%p
	Welcome to the  
	= link_to @current_site.name, root_url( :host => @current_site.domain )
	Community!
	
%p
	To fully activate your account, please click the link below or copy and paste it into your browser:
	%br
	= link_to "Activate #{@user.name}", activate_url( :host => @current_site.domain, :token => @user.activation_code )

%p
	Thanks!
	%br
	&#45; The 
	= @current_site.name
	Team 

%p.small
	Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related to your use of 
	= @current_site.name
	&#46;