%div[comment]
	.comment_pic
		= link_to image_tag( comment.user.avatar, :width => 60 ), user_path( comment.user )
	.comment_body
		= link_to comment.user.name, user_path(comment.user), :class => 'comment_user'
		- unless comment.user.website_url.blank?
			(
			-if comment.user.website_name.blank?
				= link_to comment.user.website_url, "http://" + comment.user.website_url
			- else
				= link_to comment.user.website_name, "http://" + comment.user.website_url
			)

		%span.comment_date
			On
			= format_date comment.created_at
		.comment_content
			= comment.content
%br.clear