%li= link_to 'Admin', site_admin_index_url
%li= link_to "Blog", blog_site_admin_index_url
%li= link_to "Authors", author_site_admin_index_url
%li= link_to "User Quickview", users_site_admin_index_url
%li= link_to "Comments", comments_site_admin_index_url
%li= link_to "Spam Control", spam_site_admin_index_url

