- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	%h1 Authors

	=form_tag author_site_admin_index_path, :method => :get do
		Search for Email Address: 
		=text_field_tag :email
		=submit_tag 'Search'
		
	- if @user.present?
		%table.admin_table
			%th Name
			%th Email
			%th Action
			
			- unless @user.author
				%tr
					%td= @user.name
					%td= @user.email
					%td
						= link_to 'Comp Platform Builder Subscription', comp_platform_builder_user_path( @user )
		
			
	%hr
	
	%table.admin_table
		%th Author Name
		%th Email
		%th Created
		%th Subscription Type

		-for author in @authors
			%tr
				%td
					= link_to author.pen_name, author
				%td
					= author.user.email
				%td 
					= format_date_only author.created_at
				%td				
					- for sub in author.user.subscribings
						= sub.subscription.name
						= sub.profile_id
						= sub.status
						%br