- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.admin_header
		.admin_title
			%h3
				Admin 
				= @current_site.name
				Blog
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_blog_site_admin_index_path
			= link_to "New Article", new_blog_site_admin_index_path
		.clear
	
	#blog_admin_table= render 'blog_admin_table'
		
		
		
- content_for :right_column do
	&nbsp;
