- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	%h1 BmB Site Admin
	
	%br
	%br
	%h3 Five Most Recent Authors
	%table.admin_table
		%th Author Name
		%th Created
		%th Email
		%th Subscription Type

		-for author in @authors
			%tr
				%td= author.pen_name
				%td= format_date_only author.created_at
				%td= author.user.email
				%td				
					- for sub in author.user.subscribings
						= sub.subscription.name
						= sub.profile_id
						= sub.status
						%br

	%br
	%br					
	
	%h3 Recent Orders

	%table.admin_table
		%th Title
		%th Owner
		%th Amount

		-for order in @orders
			%tr
				%td= order.sku.title
				%td
					- if order.owner.is_a? Author
						= order.owner.pen_name 
					- else
						BackMyBook
				%td= order.price


	