= f.label "Theme Name:"
= f.text_field :name, :class => 'title_field'
%br
= f.check_box :show_pen_name, :checked => @edit_theme.show_pen_name
Display Pen Name?
%br
-#
	= f.check_box :book_site, :checked => @edit_theme.book_site
	Book Template?
%br
= f.check_box :public, :checked => @edit_theme.public
Share this Theme?
%br
%hr
%h4 General Settings

= f.label "Default Text Color:"
= f.text_field :text_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.text_color};"
= f.label "Default Hyperlink Text Color:"
= f.text_field :link_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.link_color};"

= f.label "Title Text Color:"
= f.text_field :title_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.title_color};"

= f.label "Border Outline Color:"
= f.text_field :page_border_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.page_border_color};"

= f.label "Site Background Color:"
= f.text_field :bg_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.bg_color};"
= #f.label "Link Hover Color:"
= #f.text_field :hover_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.hover_color};"
%br
%hr
%h4 Banner Settings
= f.label "Banner Image:"
= file_field_tag :attached_banner_file

= f.label "Repeat Banner:"
= f.select :banner_repeat, { 'None' => 'no-repeat', 'Across the page' => 'repeat-x', 'Down the page' => 'repeat-y', 'Tile' => 'repeat'}

= f.label "Banner Background Color:"
= f.text_field :banner_bg_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.banner_bg_color};"
%br
%hr
%h4 Navigation Bar Settings
= f.label "Navigation Bar and Footer - Background Color:"
= f.text_field :nav_bg, :class => 'cpicker', :style => "background-color: #{@edit_theme.nav_bg};"

= f.label "Navigation Bar - Selected Item Color:"
= f.text_field :nav_bg_selected, :class => 'cpicker', :style => "background-color: #{@edit_theme.nav_bg_selected};"

= f.label "Navigation Bar - Text Color:"
= f.text_field :header_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.header_color};"
%br
%hr
%h4 Main Content Area Settings
= f.label "Main Content Area Background Color:"
= f.text_field :content_bg_color, :class => 'cpicker', :style => "background-color: #{@edit_theme.content_bg_color};"

= f.label "Main Content Area Background Image:"
= file_field_tag :attached_bg_file

= f.label "Repeat Background Main Content Area Image:"
= f.select :bg_repeat, { 'None' => 'no-repeat', 'Across the page' => 'repeat-x', 'Down the page' => 'repeat-y', 'Tile' => 'repeat'}



%br
%br
= f.submit 'Update Theme', :class => 'buttons'