
#admin_hd  Your Website

%li= link_to "Blog", admin_blog_index_url
%li= link_to "Links", admin_links_url
%li= link_to "Events", admin_events_path
-#
	%li= link_to "Forums", admin_forums_index_url
	%li= link_to "Orders", admin_orders_index_url
	%li= link_to "Podcast", admin_podcast_index_url
	%li= link_to "Themes", admin_themes_index_url
	%li= link_to "Links", admin_links_index_url
	%li= link_to "Events", admin_events_index_url
	%li= link_to "Reports", admin_reports_index_url