- if @current_author
	
	#admin_hd  Account Info
	%li= link_to 'Admin Home', admin_index_url
	%li= link_to 'User Settings', @current_user
	%li= link_to 'Author Settings', edit_author_url( @current_author )
	
	#admin_hd  Your Site
	%li= link_to 'View Your Site', @current_author
	%li= link_to 'Author Profile', edit_profile_author_url( @current_author )
	%li= link_to "Promo", admin_author_store_index_url( @current_author )
	%li= link_to "FAQ", faq_author_store_index_url( @current_author)
	-if @current_author.has_valid_subscription?( Subscription.first )
		%li= link_to "Theme", admin_themes_url
	-# %li= link_to "Featured Items"

	%li= link_to 'Events', admin_author_events_path( @current_author )
	%li= link_to 'Forums', admin_author_forums_path( @current_author )
	%li= link_to 'Links', admin_author_links_path( @current_author )
	- if false # todo
		%li= link_to 'Podcast', admin_author_podcasts_path( @current_author )

	#admin_hd Your Store
	%li= link_to 'README', '#'
	%li= link_to 'Manage Books', new_author_book_path( @current_author )
	%li= link_to 'Manage Merch', new_author_merch_path( @current_author )
	%li= link_to 'New SKU', new_author_sku_path( @current_author )
	%li= link_to 'Edit SKUs', listing_author_skus_path( @current_author )

	#admin_hd Reports
	- if @current_author.has_valid_subscription?( Subscription.first )
		%li= link_to 'Sales', report_path( 'sales' )
		%li= link_to "Coupons", report_path( 'redemptions' )
	%li= link_to "Orders", admin_orders_url( :protocol => SSL_PROTOCOL )
	- unless @current_author.has_merch?
		%li= link_to "Inventory", report_path( 'inventory' )
		%li= link_to "Ship Info", report_path( 'shipping' )
		%li= link_to 'Ship Notice', admin_get_merch_orders_email_messages_url
	-#%li= link_to "Emails", reports_emails_path

	- if @current_author.has_valid_subscription?( Subscription.first )
		#admin_hd Blog
		%li= link_to 'Manage Blog', admin_blog_index_path
	
	-if @current_author.has_valid_subscription?( Subscription.first )
		#admin_hd Messaging
		%li= link_to 'Newsletters', admin_email_messages_url
		%li= link_to 'Email Lists', admin_list_email_messages_url
		-#%li= link_to 'Templates', admin_email_templates_url
		 

	
