#admin_hd  Your Website

%li= link_to "Blog", admin_blog_index_url
%li= link_to "Links", admin_links_url
%li= link_to "Events", admin_events_path

#admin_hd Reports
%li= link_to 'Sales', reports_sales_path
%li= link_to "Orders", admin_orders_url( :protocol => SSL_PROTOCOL )
%li= link_to "Coupons", reports_redemptions_path
-#%li= link_to "Emails", reports_emails_path

#admin_hd Messaging
%li= link_to 'Newsletters', admin_email_messages_url
%li= link_to 'Email Lists', admin_list_email_messages_url
-#%li= link_to 'Templates', admin_email_templates_url
%li= link_to 'Shipping Email', get_shipping_email_messages_url 