- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.form_group
		%h1 Manage Domains
		%br
		%br
		= form_for @author do |f|
			%h3 Your Subdomain on BackMyBook.com
			= f.text_field :subdomain
			= f.submit "Change"
		%br
		%br
		%h3 Your Domains
		- for site in @author.sites do
			= site.name
			|
			= site.domain
			%br
			
- content_for :right_column do
	%h2 Help