- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.form_group
		%h1 Event

		= form_for [@current_author, @event] do |f|
			= f.label "Title:"
			= f.text_field :title, :class => 'title'
			= f.label "Description:"
			= f.text_area :description
			%br

			= f.label "Starts:"
			= f.text_field :starts_at
			%br
			= f.label 'Ends:'
			= f.text_field :ends_at
			%br
			= f.label 'Location:'
			= f.text_field :location

			= f.label "Status:"
			= f.select :status, [ ['Publish',  'publish'], ['Draft', 'draft'] ]

			%br
			= submit_tag
- content_for :right_column do
	%h2 Help
	%h2 Upcomming Events
	- for event in @events do
		= link_to event.title, admin_events_path( :event_id => event )
		%hr