- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.form_group
		%h1 
			= @forum.title ? "Edit #{@forum.title}" : "Add Forum"

		= form_for [@current_author, @forum] do |f|
			= f.label "Forum Name:"
			= f.text_field :title
			= f.label "Description:"
			= f.text_field :description

			%br
			= f. submit
- content_for :right_column do
	%h2 Help
	%h2 Edit Forums
	- for forum in @forums
		= link_to forum.title, admin_forums_path( :forum_id => forum )
		%hr