%h2
	Author Admin Area
	
#admin_nav
	%li= link_to "Create a book", new_author_book_path( @author )
	%li= link_to "Manage Books"
	%li= link_to "Email", new_author_book_path( @author )
	%li= link_to "Blog", new_author_book_path( @author )
	%li= link_to "Ecom", new_author_book_path( @author )
	%li= link_to "Reports", new_author_book_path( @author )
	%li= link_to "Podcast", new_author_book_path( @author )
	%li= link_to "Theme", new_author_book_path( @author )