- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.form_group
		%h1 Research Order
		- if @order 
			%h3 Show order info
			%table.admin_table
				%tr
					%td	Confirmation Number:
					%td 
						= @order.order_transaction.reference
				%tr
					%td	Status:
					%td 
						= @order.order_transaction.success
				%tr 
					%td Order Date:
					%td
						= @order.created_at.to_s(:long)
				%tr 
					%td Email:  
					%td 
						=@order.email
				%tr
					%td Name:
					%td
						-if @order.billing_address
							=@order.billing_address.name 
						-else
							=@order.user.name
				%tr
					%td SKU Title
					%td 
						=@order.sku.title
				%tr
					%td Amount
					%td 
						=number_to_currency( @order.price.to_f / 100 )
				-if @order.shipping_address
					%tr
						%td Shipping Street 
						%td 
							=@order.shipping_address.street 
							=@order.shipping_address.street2
					%tr
						%td Shipping  City
						%td
							=@order.shipping_address.city 
					%tr
						%td State, Zip
						%td	
							=@order.shipping_address.geo_state.abbrev 
							=@order.shipping_address.zip
					%tr
					%td Country
		%br			
		%h4
			Enter Order Confirmation #
			

		-form_tag do 
	
			Order Confirmation Number:
			=text_field_tag :reference
			%br
			= submit_tag 'Search' 
			|
			= link_to 'Cancel', :back
			
		%hr
		
				

		
			
		