- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.form_group
		%h1 Profile
		= form_for @current_author, :html => { :multipart => true } do |f|
		
			= f.label "Bio:"
			= f.text_area :bio

			= f.label "Profile Picture:"
			= file_field_tag :attached_avatar_file
			
			= f.label "Promo"
			= f.text_area :promo

			%br
			= f. submit
- content_for :right_column do
	= render 'shared/help'
