= f.label 'Name:'
= f.text_field :title
= f.label 'Price:'
= f.text_field :price
= f.label 'Associate with Book:'
= f.collection_select :book_id, @books, :id, :title
= f.label 'Picture:'
= file_field_tag :attached_avatar_file
= f.label 'Description:'
= f.text_area :description
= f.label "Inventory:"
= f.text_field :inventory_count
= f.submit m
	