= f.label 'Name:'
= f.text_field :title

-# Disabling uploading of pictures until has_attachments is fixed
	%p
		= f.label 'Picture:'
		%br
		= image_tag @merch.avatar.location('thumb'), :width => @merch.avatar.thumb_width if @merch.has_attached_avatar?
		%br
		= file_field_tag :attached_avatar_file

= f.label 'Description:'
= f.text_area :description
= f.label "Inventory Remaining:"
= f.text_field :inventory_count
= f.label "Send low inventory email at: ( -1 to never send email)"
= f.text_field :inventory_warning
= f.label "Show remaining inventory count in store at: ( 0 to never show inventory )"
= f.text_field :show_inventory_count_at
%p
	= f.submit m
	| 
	= link_to "Cancel", :back
	