= f.hidden_field :book_id, :value => @book.id
= f.label 'Name:'
= f.text_field :title, :value => @merch_title, :class => 'book_title_field'

= f.label 'Item type:'
= f.select :merch_type, [['Hardcover','hardcover'], ['Paperback','paperback'], ['Apparel','apparel'], ['Misc','misc'] ], :selected => params[:merch_type]


= f.label 'Picture:'
= image_tag @merch.avatar.location('thumb'), :width => @merch.avatar.thumb_width if @merch.has_attached_avatar?
%br
= file_field_tag :attached_avatar_file

= f.label 'Description:'
= f.text_area :description, :class => 'editor_small'

	
= f.label "Inventory:"
= check_box_tag :unlimited_inventory, -1, 1
Unlimited Inventory
= f.text_field :inventory_count


= f.label "Send low inventory email at:"
= check_box_tag :never_email, 0, 1
Never Email
= f.text_field :inventory_warning


= f.label "Show remaining inventory count in store at:"
= check_box_tag :never_show, 0, 1
Never Show
= f.text_field :show_inventory_count_at

%p
	= f.submit 'Submit', :class => 'buttons'
	| 
	= link_to "Cancel", :back
	