= f.label 'Name:'
= f.text_field :title, :value => @merch_title

%p
	= f.label 'Picture:'
	%br
	= image_tag @merch.avatar.location('thumb'), :width => @merch.avatar.thumb_width if @merch.has_attached_avatar?
	%br
	= file_field_tag :attached_avatar_file

= f.label 'Description:'
= f.text_area :description, :class => 'editor_small'
= f.label 'Item type'
- if @merch.is_a_book? or params[:merch_type]
	= f.select :merch_type, [['Hardcover','hardcover'], ['Trade Paperback','trade paperback'], ['Paperback','paperback']], :selected => params[:merch_type]
- else
	= f.select :merch_type, [ ['Apparel','apparel'], ['Misc','misc']]
	
= f.label "Inventory Remaining: (-1 for infinite inventory)"
= f.text_field :inventory_count
= f.label "Send low inventory email at: ( -1 to never send email)"
= f.text_field :inventory_warning
= f.label "Show remaining inventory count in store at: ( 0 to never show inventory )"
= f.text_field :show_inventory_count_at
= f.hidden_field :book_id, :value => params[:book_id]
%p
	= f.submit 'Submit', :class => 'buttons'
	| 
	= link_to "Cancel", :back
	