- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		-if @book
			%br
			%h1 
				Enter metadata for 
				= @book.title
			%h3
				= params[:merch_type].capitalize 
				edition
		-else
			%h1 New Merchandise
				
		- form_for [ @current_author, @merch ], :html => { :multipart => true } do |f|
			= render :partial => 'form', :locals => {:f => f, :m => 'Create'}
	%br
	
	.form_group
		%h1 Existing Merchandise
		%table.admin_table
			%th Title
			%th Action
			
			- for merch in @current_author.merches.not_books
				%tr
					%td= merch.title
					%td
						= link_to '[edit]', edit_author_merch_path( @current_author, merch )
		
- content_for :right_column do
	= render 'shared/help'
	%hr 
	%h3 Tips

	%p Include the edition (ie. Hardcover/Paperback/etc) in the item Name and Description so your buyers will quickly know what edition they are purchasing.
	%p 
		%b Inventory remaining 
		is the # of units available for sale.
	%p
		The system can send an email to 
		= @current_author.contact_email
		when the 
		%b low inventory 
		threshold is crossed.
	%p
		A " XX remaining " prompt will show up on your store so buyers will see that the item is in low supply.  This prompt appears when the inventory count is lower than the  
		%b show remaining inventory count
		threshold.
