.author_menu
	%ul.main-menu
		%li.first= link_to "Home", author_path( @author )
		%li= link_to "Blog", author_blog_index_path( @author )
		%li= link_to "Forums", author_forums_path( @author )
		%li= link_to "Books", author_books_path( @author )
		%li= link_to "Bio", bio_author_path( @author )