.order_label
	= f.label 'Pen Name:'
.order_field
	= f.text_field :pen_name
.order_label
	= f.label "Upload Your Picture:"
.order_field
	= file_field_tag :attached_avatar_file
.order_label
	= f.label 'Your Author Bio:'
.order_field
	= f.text_area :bio, :class => 'editor_small'
.clear
= f.submit 'Update', :class => 'buttons'