-#
	.follow-me.ui-helper-clearfix
		%h3 Follow Me
		%div
			=image_tag('twitter.jpg')
			=image_tag('facebook.jpg')
			=image_tag('rss.jpg',:alt=>'rss feed')
			=image_tag('mail.jpg', :alt=>'contact author', :class => :toggle_contact_form )
		#contact_form
			= text_field_tag :email
			= submit_tag 'Submit'
#accordion
	- if @theme.nil? || !@theme.book_site
		%div
			%h3 
				=link_to 'Featured books','#'
			%div 
				- if @author.books.published.empty?
					No Books
				- else
					= render @author.books.published
	- unless @author.links.empty?
		%div
			%h3 
				=link_to 'Links','#'
			%div 
				- if @author.links.empty?
					No Links
				- else
					- for link in @author.links
						= link_to link.title, link.url
						.small= link.description
						%br
	- unless @author.events.upcomming.empty?
		%div
			%h3 
				=link_to 'Events','#'
			%div 
				- if @author.events.upcomming.empty?
					No Upcomming Events
				- else
					- for event in @author.events.upcomming
						= link_to event.title, author_event_url( @author, event )
						.small
							%br
							On:
							= format_date event.starts_at
							%br
							At: 
							= event.location
