
- if false # TODO - implement
	.sidebar_sections
		%h3 Follow Me
		.pad
			= image_tag('twitter.jpg')
			= image_tag('facebook.jpg')
			= image_tag('rss.jpg',:alt=>'rss feed')
			
- if @author.has_valid_subscription?( Subscription.first )
	.sidebar_sections
		%h3 Search
		.pad
			= form_tag search_author_path( @author )
			= text_field_tag :q
			= submit_tag 'Search', :class => 'button'
					

- if @author.has_valid_subscription?( Subscription.first )
	.sidebar_sections
		%h3 
			Newsletter Signup
		.pad
			Sign up for 
			= possessize @author.pen_name
			free newsletter:
			%br
			= form_tag newsletter_signup_author_path( @author ), :style => 'margin-top:10px;' do
				%b Name:
				= text_field_tag :name
				%br
				%b Email:
				= text_field_tag :email
				= submit_tag "Join", :class => 'button'
			.tiny
				BackMyBook and 
				= @author.pen_name
				respect your privacy.  You will be able to cancel your newsletter at any time, and your information will not be shared with any 3rd parties.

- unless @author.featured_books.empty?
	.sidebar_sections
		%h3 
			Featured books
		.pad
			= render @author.featured_books.published.reverse

- unless @author.links.empty?
	.sidebar_sections
		%h3 
			Links
		.pad
			- if @author.links.empty?
				No Links
			- else
				- for link in @author.links
					= link_to link.title, link.url
					.small= link.description
					%br
- unless @author.events.upcoming.empty?
	.sidebar_sections
		%h3 
			Events
		.pad
			- if @author.events.upcoming.empty?
				No Upcomming Events
			- else
				- for event in @author.events.upcoming
					= link_to event.title, author_event_url( @author, event )
					.small
						%br
						On:
						= format_date event.starts_at
						%br
						At: 
						= event.location
