.follow-me.ui-helper-clearfix
	%h3 Follow Me
	%div
		=image_tag('twitter.jpg')
		=image_tag('facebook.jpg')
		=image_tag('rss.jpg',:alt=>'rss feed')
		=image_tag('mail.jpg', :alt=>'contact author', :class => :toggle_contact_form )
	#contact_form
		= text_field_tag :email
		= submit_tag 'Submit'
#accordion
	- if @theme.present? && @theme.book_site == false
		%div
			%h3 
				=link_to 'Featured books','#'
			%div 
				- if @author.books.published.empty?
					No Books
				- else
					- for book in @author.books
						= image_tag book.avatar.location( :tiny ), :width => 40
						= link_to book.title, author_book_path( @author, book )
						%br
	%div
		%h3 
			=link_to 'Links','#'
		%div 
			- if @author.links.empty?
				No Links
			- else
				- for link in @author.links
					= link_to link.title, link.url
					.small= link.description
					%br
	%div
		%h3 
			=link_to 'Events','#'
		%div 
			- if @author.events.upcomming.empty?
				No Upcomming Events
			- else
				- for event in @author.events.upcomming
					= link_to event.title, author_event_path( @author, event )
					.small
						%br
						On:
						= format_date event.starts_at
						%br
						At: 
						= event.location
	%div
		%h3 
			=link_to 'Recent Activity','#'
		%div 
			- if Activity.feed( @author ).empty?
				No Activity
			- else
				- for activity in Activity.feed @author
					= render activity
				