%h2
	Author Admin Area
%br
%br	
= link_to 'Upload a List for Giveaway', '#upload_giveaway_list_form', :rel => 'facebox'
%br
%br	
= link_to 'Upload Email Subscription List', '#upload_email_list_form', :rel => 'facebox'
%br
%br

= link_to 'Create a new email message', new_author_email_campaign_email_message_path(@author, @campaign)

%br
%br

%b Existing Email Messages
%br
%table
	%tr
		%td 
			%b Created On
		%td 
			%b Subject
		%td 
			%b Status
		%td
			%b Action
	
	-for message in @author.email_campaigns.default.first.email_messages.reverse
		%tr{:class => cycle(:odd, :even)}
			%td 
				= message.created_at.to_s(:long)
			%td 
				= message.subject
			%td 
				= message.status
			%td
				-if message.status.match(/created/i)
					=link_to '[Send to me]', root_path
					=link_to '[Send]', root_path
					=link_to '[Edit]', edit_author_email_campaign_email_message_path( @author, @campaign, message )
					=link_to '[Delete]', author_email_campaign_email_message_path( @author, @campaign, message ), :confirm => 'Are you sure you want to delete this message?', :method => :delete
				-else 
					=link_to '[View]', author_email_campaign_email_message_path( @author, @campaign, message )


%br
%hr
%hr
%h3 Subscriptions
%br
-for sub in @author.user.subscriptions
	=sub.title
	

#upload_email_list_form( style = 'display:none;')
	%h2 Upload Email List 

	-form_for [ @author, UploadEmailList.new ], :html => {:multipart => :true} do |f|
		= f.file_field :file_name
		= f.hidden_field :list_type, :value => "newsletter"
		= f.submit "Upload"
		%br
		Comma separated value (.csv) file with name and email columns only.  

#upload_giveaway_list_form( style = 'display:none;')
	%h2 Upload Giveaway Email List 

	-# TODO This form only lists books as the item to be given away.  Should extend this in the future perhaps?
	-form_for UploadEmailList.new, :html => {:multipart => :true} do |f|
		= f.collection_select :book_id, @current_user.author.books, :id, :title
		= f.file_field :file_name
		= f.submit "Upload"
		= f.hidden_field :list_type, :value => "giveaway"
		%br
		Comma separated value (.csv) file with email column only.
