- content_for :left_column do
	= render :partial => 'admin/nav'
	
- content_for :middle_column do
	.form_group
		%h1 Author Account Settings

		= form_for @author, :html => { :multipart => true } do |f|
			= render :partial => 'settings_form', :locals => {:f => f}
- content_for :right_column do
	= render 'shared/help'
	%hr
	%h3 Tips
	-unless @current_author.has_valid_subscription?( Subscription.first )
		%p 
			Sign up for a 
			= link_to 'Platform Builder Account!', platform_builder_authors_path