- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	%h1 The Author Platform Builder
	
	%h4{ :style => 'margin-top:15px;' }
		You do the writing, let us handle the technology.
	
	%h4{ :style => 'margin-top:15px;' }
		The Complete Soultion
		
	%h4{ :style => 'margin-top:15px;' }
		Everything you need to take your on-line presence to a professional level:
		
	%ul
		%li.bulleted  Customizable Author website, consistent with your style and readership
		%li.bulleted  Fully built professional Author Blog, your own voice is your best sales tool!
		%li.bulleted  Reader Forums to build and interact with your readership
		%li.bulleted  Event Calendar
		%li.bulleted  Coupons and Discount Codes to tailor your sales appropriately
		%li.bulleted  Newsletter engine, including email signup widget, list import, unlimited subscribers and up to
		1000 sends per month
		%li.bulleted  Pro Reporting - sales trending, campaign management: all the sales statistics and reader data
		that are the absolute lifeblood of any professional on-line publisher.
			
	%h4{ :style => 'margin-top:15px;' }
		
		%p
			The Author Platform Builder is a fully equiped platform for promoting and selling your books online.

		%p
			We are so confindent that you will agree, The Author Platform Builder is offered at no risk and can be cancelled at any time.

		%p
			What are you waiting for? Get started today, and join the on-line publishing revolution!

	%h4{ :style => 'margin-top:15px;' }
		Sell $200 of merchandise in any month, and that month is free!
	.screen_shots{ :style => 'margin-top:20px;' }
		.screen_shot{ :style => 'margin-right:20px' }
			= link_to image_tag( 'screen1.png', :width => 150 ), '/images/screen1.png', :target => '_new'
			.caption
				Pro Reports
		.screen_shot{ :style => 'margin-right:20px' }
			= link_to image_tag( 'screen2.png', :width => 150 ), '/images/screen2.png', :target => '_new'
			.caption
				Custom Theme and Colors
		.screen_shot
			= link_to image_tag( 'screen3.png', :width => 150 ), '/images/screen3.png', :target => '_new'
			.caption
				Newsletters
	%br.clear
	
	.get_started{ :style => 'text-align:center;margin-top:20px;' }
		= link_to image_tag( "get_started_button.png" ), new_order_url( :sku => Subscription.platform_builder.sku.id, :protocol => SSL_PROTOCOL )

	%br
	%br

	