.author_hd
	.column1
		%h1
			= @current_author.pen_name
		
		.author_corner
			.author_menu
				%ul.main-menu
					%li.first= link_to "Blog", "blog"
					%li= link_to "Forum", "forum"
					%li= link_to "Books", "#"
					%li= link_to "Bio", "#"
			
			.author_promo
				.column1
					.image= image_tag( 'book_placeholder.jpg' , :alt=>'book placeholder' )
					%h2 The 9th Judgement
					%p.book_stats Backers: <em>2</em> Reads: <em>403</em>
					%p= "Detective Lindsay Boxer chases a Jewel thief, a murderous movie star, and a killer with a vendetta against women and children. A young mother and her infant child are ruthlessly gunned down in the garage of a shopping mall. There are no witnesses ..." + (link_to "more >>", "#")
				.column2
					.button
						=link_to "Back this Book", "#", :class=>'blue'
					.button	
						=link_to "Buy Now", "#", :class=>'yellow'
					.button	
						=link_to "Free Sample", "#", :class=>'green'
					.button
						=link_to "Reviews", "#", :class=>'gray'		
	.column2
		.author_photo
			= image_tag @current_author.avatar.location( :profile )
	
.author_bd
	.column1
		#inner-content-wrapper
			%h1 Headline 1
			%h2 Headline 2
			%h3 Headline 3
			.text
				text goes here, should all be fine
				=link_to "body text link", "#"


	.column2
		.follow-me.ui-helper-clearfix
			%h3 Follow Me
			%div
				=image_tag('twitter.jpg')
				=image_tag('facebook.jpg')
				=image_tag('rss.jpg',:alt=>'rss feed')
				=image_tag('mail.jpg', :alt=>'contact author', :class => :toggle_contact_form )
			#contact_form
				= text_field_tag :email
				= submit_tag 'Submit'
		#accordion
			%div
				%h3 
					=link_to 'Faetured books','#'
				%div Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			%div
				%h3 
					=link_to 'Podcasts','#'
				%div Phasellus mattis tincidunt nibh.
			%div
				%h3 
					=link_to 'Events','#'
				%div Nam dui erat, auctor a, dignissim quis.
			%div
				%h3 
					=link_to 'Recent Activity','#'
				%div Nam dui erat, auctor a, dignissim quis.
				
					