- content_for :left_column do
	%h3
		= possessize @user.name
		Settings


	= form_for @user, :html => { :multipart => true } do |f|
		=f.label :website_name
		=f.text_field :website_name
	
		=f.label :website_url
		=f.text_field :website_url
	
		=f.label :name
		=f.text_field :name
		
		%hr
		
		%h2 Address Testing
		
		%h3 Billing Address:
		= f.fields_for :billing_address do |addr_form|
			= render 'geo_addresses/address_fields', :addr_form => addr_form, :addr => @billing_address
		
		%h3 Shipping Addresses:
		= f.fields_for :shipping_addresses do |addr_form|
			= render 'geo_addresses/address_fields', :addr_form => addr_form, :addr => GeoAddress.new( :address_type => 'shipping' )


		%br
		=f.submit "Update", :class => :button
		| 
		=link_to 'Cancel', user_url(@user)

