
#openID
	%h3.blueText
		Register using a third-party account...
	#twitter
		= form_tag go_twitter_sessions_path do
			= image_submit_tag 'twitter_button.png'
	%p
		%iframe(src="#{iframe_src 'rpx'}" scrolling="no" frameBorder="no" style="width:400px;height:240px;")

#oldSchool
	%h3.blueText
		Or, Register the Old-School Way
	= form_for @user do |f|
		= hidden_field_tag :dest, @dest
		= hidden_field_tag :a, @a
		.fields

			= f.label "Email"
			= f.text_field :email, :class => :login_email
		
			= f.label :name, "User Name"
			= f.text_field :name, :class => :login_email
		
			= f.label :password, "Password"
			= f.password_field :password, :class => :login_email
		
			= f.label :password_confirmation, "Confirm Password"
			= f.password_field :password_confirmation, :class => :login_email
			%br
			%br
			= f.submit 'Register', :class => "login_button"
			|
			= link_to 'Login', new_session_path
			|
			= link_to 'Cancel', root_path
