- content_for :left_column do
	%h1
		= @user.name
		Home
	- if @welcome_message
		%h3= @welcome_message

	#user_avatar
		= avatar_tag( @user, :thumb, :width => 64 )
	#user_change_avatar
		%b
			Change your avatar at 
			= link_to "gravatar.com", 'http://gravatar.com'
		%br
		We're using:
		= @user.email

	- unless @current_user.has_email?
		= form_for @current_user do |f|
			= f.label "Email"
			= f.text_field :email
			= f.submit "Enter"
			
	- unless @user.skus.empty?
		%h3 
			Thank You for Purchasing:
		- for sku in @user.skus
			%li= sku.title
			- for item in sku.items
				%div[item]
					= item.title
					|
					= link_to "Download", download_author_book_asset_path( sku.owner, sku.book, item ) if item.respond_to? 'document'


- content_for :right_column do
	%h3
		Add a Twitter Accoount:
	#twitter
		= form_tag go_twitter_sessions_path do
			= image_submit_tag 'twitter_button.png'
	%h3
		Add a Facebook Account:
	#facebook
		= form_tag go_facebook_sessions_path do
			= image_submit_tag 'facebook_connect.png'
	%h3
		Activity
	= render @activities
	
	