%h2
	Home
- if @welcome_message
	%h2= @welcome_message
%hr

- unless @current_user.has_email?
	- form_for @current_user do |f|
		= f.label "Email"
		= f.text_field :email
		= f.submit "Enter"

%h4
	My News Feed
#live_feed
	- for item in @current_user.pfeed_inbox.reverse
		= render :partial => 'pfeeds/pfeed', :locals => { :pfeed_item => item }

%h4
	My Favorite
	=link_to 'Books', favorites_library_path
	%br
	%br
	My Total BackMyBook Points: 
	=@total_bmb_score 
	
	
	
	