= hidden_field_tag :dir, params[:dir]
= hidden_field_tag :sort, params[:sort]
- if @coupons.empty?
	No Coupons
- else
	%table.admin_table
		%th= sortable 'code'
		%th= 'sku'
		%th= 'expiration_date'
		- for coupon in @coupons
			%tr
				%td( style = 'width:200px;' )
					= coupon.code
				%td.small= coupon.sku.title
				%td.small= coupon.expiration_date
	- unless @coupons.total_pages < 2
		.pagination
			.page_info
				= page_entries_info @coupons
			= will_paginate @coupons