-if true # @current_user.subscribed?  TODO remove hardcoding
	%h4
		%b Actions
	= link_to 'Upload Email List', '#upload_email_list_form', :rel => 'facebox', :class => 'green_button'

	-#= link_to 'Download Giveaway URLs', download_author_giveaways_path( @author ), :class => 'green_button'
	#upload_email_list_form( style = 'display:none;')
		%h2 Upload Email List 

		-# TODO This form only lists books as the item to be given away.  Should extend this in the future perhaps?
		-form_for UploadEmailList.new, :html => {:multipart => :true} do |f|
			= f.collection_select :book_id, @current_user.author.books, :id, :title
			= f.file_field :file_name
			= f.submit "Upload"
			= f.hidden_field :list_type, :value => "giveaway"
			%br
			Comma separated value (.csv) file with email column only.  
- else
	= link_to 'Go Premium', new_order_path(:sku=>"subscription_1")
	to create giveaways of your works