#ft
	%ul.footer_menu
		%li= link_to "FAQ", "/faq"
		%li= link_to "Features", "/features"
		%li= link_to "Blog", blog_index_url
		%li= link_to "Terms", "/terms"
		%li= link_to "Privacy", "/privacy"
		%li= link_to "Contact Us", new_contact_url
		
		- if @current_author
			%li= link_to "Author Admin", admin_index_url
	%ul.author_copy
		- if @author
			%li= link_to "&copy; #{Time.now.year} #{@author.pen_name}".html_safe, root_url( :host => @current_site.domain )
		- else
			%li= link_to "&copy; #{Time.now.year} BackMyBook".html_safe, root_url( :host => @current_site.domain )