#ft
	%ul.footer_menu
		%li= link_to "Blog", blog_index_url
		%li= link_to "Terms", "/terms"
		%li= link_to "Privacy", "/privacy"
		%li= link_to "Contact Us", new_contact_url
	%ul.author_copy
		%li= link_to "&copy; #{Time.now.year} BackMyBook".html_safe, root_url( :host => @current_site.domain )