#header
	#logo
		= link_to @current_site.name, root_path if @current_site
	
	- if @current_user
		- if @current_user.anonymous?
			#user_capsule
				= image_tag @current_user.avatar, :width => 20
				%span#usernameDisplay
					=@current_user.name
				%span#notUser
					= link_to "Register", register_path + '?dest=' + (params['dest'] ? params['dest'] : request.fullpath )
					&#47;
					= link_to "Login", login_path + '?dest=' + (params['dest'] ? params['dest'] : request.fullpath )
		- else
			#user_capsule
				%span#usernameDisplay
					
					= link_to image_tag( @current_user.avatar, :width => 20 ), user_path( @current_user )
					= link_to @current_user.name, user_path( @current_user )
				%span#notUser
					(
					-#
						- if @current_user.facebook_user? && facebook_session
							%a{:href=>"#", :onclick=>"FB.Connect.logoutAndRedirect('/logout')"}
								Logout
						- else
					= link_to "Logout", logout_path + '?dest=' + request.fullpath
					)
	%br.clear