= f.label :title
= f.text_field :title, :class => 'title_field'

= f.label :subtitle
= f.text_field :subtitle

= f.label :description
= f.text_area :description

= f.label :transcript
= f.text_area :transcript

= f.label "Duration (in hh:mm:ss format)"
= f.text_field :duration

= f.label 'MP3 File (max 100 MB)'
= file_field_tag :upload_file

= f.label "Explicit (Mark yes for 18 and over)"
= f.select :explicit,  [ [ "no", "no" ], [ "yes", "yes" ]  ]

= f.label "Keywords, separated by comma"
= f.text_field :keywords

= f.label "Follow comments"
- if @current_user.following?( @episode )
	= check_box_tag "follow_comments", "follow", true
-else 
	= check_box_tag "follow_comments"
%br
%br
= f.submit m, :class => :button
|
= link_to 'Cancel', :back