= f.label :title
= f.text_field :title, :class => 'title_field'

= f.label :subtitle
= f.text_field :subtitle

= f.label :description
= f.text_area :description

= f.label :transcript
= f.text_area :transcript

= f.label "Duration (in hh:mm:ss format)"
= f.text_field :duration

= f.label 'Audio File (mp3 or aac format, max 100 MB)'
= file_field_tag :attached_audio_file

= f.label "Explicit (Mark yes for 18 and over)"
= f.select :explicit,  [ [ "no", "no" ], [ "yes", "yes" ]  ]

= f.label "Keywords, separated by comma"
= f.text_field :keywords

%br
= f.submit m, :class => :button
|
= link_to 'Cancel', :back