- content_for :left_column do
	#article_list
		.article_header
			%h2
				= @event.title
		Starts:
		= format_date @event.starts_at
		%br
		Ends:
		= format_date @event.ends_at
		%br
		Location:
		= @event.location

		.article_content
			= @event.description
	
- content_for :right_column do
	&nbsp;
