Subject:
%br
=f.text_field :subject
%br

%br
= f.hidden_field :status, :value => 'Created'
= f.hidden_field :email_type, :value => 'newsletter'
= f.text_area :content, :class => 'mceEditor'

%br

= f.submit 'Save' 
|
= link_to 'Cancel', :back

