- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.admin_header
		.admin_title
			%h3
				Orders with Merchandise 
		.clear

		%table.admin_table( style = 'width:800px;' )
			%th Date
			%th Transaction ID
			%th Email
			%th SKU
			%th Shipping Notice
			- for order in @orders
				%tr
					%td.small= format_date_only order.created_at
					%td.small
						= link_to order.order_transaction.reference, inspect_order_path( order )
					%td.small
						= order.user.email
					%td.small
						= order.sku.title
					%td.small
						-if order.email_messages.present? and order.email_messages.shipping.last.email_deliveries.last.present?
							Sent
							= format_date_only( order.email_messages.shipping.last.email_deliveries.last.created_at )
						-else
							=link_to "Send", admin_send_shipping_email_email_messages_path(:order_id => order.id)
							|
							=link_to "Edit" , admin_edit_shipping_email_email_messages_path(:order_id => order.id)

		- unless @orders.total_pages < 2
			.pagination
				.page_info
					= page_entries_info @orders
				= will_paginate @orders
