- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 Manage Newsletters
		%br
		%br
		%h3 Create/Edit a newsletter
		= form_for [ @current_author, @campaign, @email_message ]  do |f|
			= render :partial => 'add_edit_form', :locals => {:f => f, :m => 'Save'}
		
		%br
		%br
		%h3 Existing Newsletters
		%br
		%table.admin_table
			%tr
				%td 
					%b Subject
				%td 
					%b Status
				%td
					%b Action

			- for message in @current_author.email_campaigns.default.first.email_messages.reverse
				%tr{:class => cycle(:odd, :even)}
					%td 
						= message.subject
					%td 
						= message.status
					%td
						=link_to '[Send to me]', send_to_self_email_messages_path( :email_message => message )
						=link_to '[Send]', send_to_subscriber_email_messages_path( :email_message => message ), :confirm => 'Are you sure you want to send to all your subscribers?'
						=link_to '[Edit]', admin_email_messages_path( :email_message => message )
						=link_to '[Delete]', author_email_campaign_email_message_url( @current_author, @campaign, message ), :confirm => 'Are you sure you want to delete this message?', :method => :delete

		
		
- content_for :right_column do
	= render 'shared/help'