- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.admin_header
		.admin_title
			%h3
				Admin 
				= possessize @admin.name
				Newsletters
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_author_email_campaign_email_message_path( @admin, @admin.email_campaigns.first)
			= link_to "New Newsletter", new_author_email_campaign_email_message_path( @admin, @admin.email_campaigns.first, @email_message)
		.clear
	
	#admin_table= render 'admin_table'
		
		
		
- content_for :right_column do
	&nbsp;