- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 Manage Email List
		%br
		%h3 Upload Email Subscriber List

		-form_for [ @current_author, UploadEmailList.new ], :html => {:multipart => :true} do |f|
			= f.file_field :file_name
			= f.hidden_field :list_type, :value => "newsletter"
			= f.submit "Upload", :class => 'buttons'
			%p Comma separated value (.csv) file with name and email columns only.  
		
		%br
		%br
	%br 
	.form_group
		%h3 
			Your Subscriber List (
			=@num_subscribers
			members)
		- if @subscribings.empty?
			No Subscribers
		- else
			%table.admin_table
				%th Name
				%th Email
				%th Status
				- for subscribing in @subscribings
					%tr
						%td.small
							= subscribing.subscriber.name 
						%td.small
							= subscribing.subscriber.email
						%td.small
							= subscribing.status
							
		- unless @subscribings.total_pages < 2
			.pagination
				.page_info
					= page_entries_info @subscribings
				= will_paginate @subscribings
				
				
		-# Commenting this block out for now
			%h3 Upload Giveaway Email List 

			-form_for UploadEmailList.new, :html => {:multipart => :true} do |f|
				For Sku: 
				= f.collection_select :sku_id, @current_author.skus[0,10], :id, :title
				= f.file_field :file_name
				= f.submit "Upload"
				= f.hidden_field :list_type, :value => "giveaway"
				%br
				Comma separated value (.csv) file with email column only.

			%br
			%br
			%h3 Download Giveway Email List
		
			=link_to 'Download Giveaway List', download_upload_email_lists_url
			
- content_for :right_column do
	= render 'shared/help'