- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	%h1 
		Editing Confirmation Email 
	= form_for [@admin, @admin.email_campaigns.first, EmailMessage.new] do |f|
		%br
		Subject:
		%br
		=f.text_field :subject, :value => @email_message.subject
		%br

		%br
		= f.text_area :content, :class => 'editor', :value => @email_message.content

		%br
		
		= f.hidden_field :email_type, :value => 'shipping'
		= f.hidden_field :user_id, :value => @order.user.id
		= f.hidden_field :source_id, :value => @order.id
		= f.hidden_field :source_type, :value => 'Order'
		
		= f.submit 'Save' 
		|
		= link_to 'Cancel', :back