= f.label 'Name:'
= f.text_field :title
= f.label 'Price ($):'
= f.text_field :price, :value => cents_to_dollars( @sku.price )
= f.label 'Domestic Shipping Amount ($):'
= f.text_field :domestic_shipping_price, :value => cents_to_dollars( @sku.domestic_shipping_price )
= f.label 'International Shipping Amount ($):'
= f.text_field :international_shipping_price, :value => cents_to_dollars( @sku.international_shipping_price )
= f.label 'Item Type'
= f.select :sku_type, [ ['Physical Book', 'merch'], ['Merchandise', 'merch'], ['Ebook', 'ebook'], ['Audiobook', 'audio_book'], ['Multiple items', 'custom'] ]
= f.label "Picture:"
= image_tag @sku.avatar.location('thumb'), :width => @sku.avatar.thumb_width if @sku.has_attached_avatar?
= file_field_tag :attached_avatar_file
= f.label 'Associate with title:'
= f.collection_select :book_id, @books, :id, :title
= f.label 'Available in store?'
= f.select :status, [['Yes', 'publish'], ['No', 'unpublish']]
= f.label 'Description:'
= f.text_area :description
%br
%br
= f.submit "Save"

