- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 
			Edit Store Item:
			= @sku.title
		- unless @sku.has_sales?
			.float_left
				Add Existing Assets to this Item:
				= form_tag add_item_author_sku_path( @current_author, @sku ) do
					= select_tag :item, options_for_select( @items )
					= submit_tag 'Add Item', :class => 'buttons'
			.new_button
				= link_to 'New File', new_author_sku_asset_path( @current_author, @sku )
			.new_button
				= link_to 'New Merch', new_author_sku_merch_path( @current_author, @sku )
			%br
			%br
			%table.admin_table
				%th Title
				%th Type
				%th Action

				- for item in @sku.items
					%tr
						%td= item.title
						%td
							= item.class.name
						- unless @sku.has_sales?
							%td= link_to '[remove]', remove_item_author_sku_path( @current_author, @sku, :item_id => item.id, :item_type => item.class.name ), :method => :post, :confirm => "Are you sure you want to remove #{item.title}?"
			%br
			%hr
			%br
		- form_for [ @current_author, @sku ], :html => { :multipart => true } do |f|
			= render :partial => 'edit_form', :locals => {:f => f, :m => 'Update'}
	%br	

		
- content_for :right_column do
	= render 'shared/help'
	%hr
	%h3 Tips
	%p Only SKUs with physical goods should have a shipping amount.
	%p Add the format (ie. Hardcover/Kindle/etc) in the SKU Name and Description fields so buyer can easily distinguish the formats.
	%p Associating the SKU with a title makes it appear on the sidebar of that title's description page. 
	%p Make sure to add at least one item into the SKU.
	%p You can add or remove a SKU item only if the SKU hasn't been purchased.
	
