- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h2 SKU Listing
		%div{ :style => 'width:500px' }
			.sort_avatar{ :style => 'margin-left:30px;' }
				&nbsp;
			.sort_title
				%b Title
			.sort_price
				%b Price
			.sort_status
				%b Status
			.sort_action
		%br.clear
		%ul#sortable
			- for sku in @current_author.skus
				%li.ui-state-default[sku]
					%span.ui-icon.ui-icon-arrowthick-2-n-s
					.sort_avatar
						- if sku.avatar.present?
							= avatar_tag( sku, :thumb, :width => 50 )
						- else
							= avatar_tag( sku.book, :thumb, :width => 50 )
					.sort_title
						= sku.title
					.sort_price
						= format_price( sku.price )
					.sort_status
						= format_status( sku.status )
					.sort_action
						= link_to '[edit]', edit_author_sku_path( @current_author, sku )
					.clear



- content_for :right_column do
	= render 'shared/help'
	%hr
	%h3 Tip
	%p
		Drag and drop SKUs to change their listing order in your store.
	%hr
	%h3 Tip
	-unless @current_author.has_valid_subscription?( Subscription.first )
		%p 
			Sign up for a 
			= link_to 'Platform Builder Account!', platform_builder_authors_path
	