- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	%h3 Sort Skus
	
	%ul#sortable
		- for sku in @skus
			%li.ui-state-default[sku]
				%span.ui-icon.ui-icon-arrowthick-2-n-s
				.sort_avatar
					- if sku.avatar.present?
						= avatar_tag( sku, :thumb, :width => 50 )
					- else
						= avatar_tag( sku.book, :thumb, :width => 50 )
				.sort_title
					= sku.title
				.clear
			
			
- content_for :right_column do
	%h3 
		Need Help?

	%p
		For additional assistance please 
		%b= link_to "contact us", new_contact_url
	%hr
	%h3 Tip
	%p
		Drag and drop SKUs to change their listing order in your store.