= hidden_field_tag :dir, params[:dir]
= hidden_field_tag :sort, params[:sort]
- if @orders.empty?
	No Orders
- else
	%table.admin_table( style = 'width:800px;' )
		%th= sortable 'created_at'
		%th TXN ID
		%th Price
		%th Email
		%th SKU
		- for order in @orders
			%tr
				%td.small= format_date_only order.created_at
				%td.small
					= link_to image_tag( 'view.png', :width => 20 ), inspect_order_path( order )
					= link_to order.order_transaction.reference, inspect_order_path( order )
				%td.small
					= number_to_currency order.total.to_f / 100 
				%td.small
					= link_to order.user.email, order_path( order )
				%td.small
					= order.sku.title

	- unless @orders.total_pages < 2
		.pagination
			.page_info
				= page_entries_info @orders
			= will_paginate @orders