=f.hidden_field :order_id, :value => @order.id

-if @order.sku.contains_merch?
	.order_label
		Item Amount
	.order_field
		= f.text_field :item_amount, :value => @order.sku.price
	.clear
	
	.order_label
		Shipping Amount
	.order_field
		= f.text_field :shipping_amount, :value => @order.shipping_amount
	.clear
	
	.order_label
		Tax Amount
	.order_field
		Calculate and display dynamically
	.clear
	
	.order_label
		Total Refund Amount
	.order_field
		Calculate and display dynamically
	.clear
	
	.order_label
		Note
	.order_field
		= f.text_field :comment
	.clear
		
-else
	.order_label
		Amount
	.order_field
		= f.text_field :item_amount, :value => @order.sku.price
	.clear
	
	.order_label
		Note
	.order_field
		= f.text_field :comment
	.clear
	
	
= f.submit 'Refund'