- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.admin_header
		.admin_title
			%h3
				Admin 
				= possessize @current_site.name
				Orders
		.clear
	
	= form_tag admin_orders_path, :method => :get, :id => 'search_form' do

		= text_field_tag :q, params[:q]
		= submit_tag 'Search', :class => 'buttons'
		|
		= link_to 'Clear', :sort => params[:sort], :dir => params[:dir], :q => nil
		#admin_table= render 'admin_table'
		
		
- content_for :right_column do
	&nbsp;