%h1 
	Purchase
	= @ordered.title
%h3
	Price: 
	= number_to_currency @ordered.price.to_f / 100
	


-form_for @order do |f|
	%table
		= f.hidden_field :ordered_id, :value => @ordered.id
		= f.hidden_field :ordered_type, :value => @ordered.class
		= f.hidden_field :price, :value => @ordered.price
		%tr
			%td
			%td 
				%h3 Payment Information
				(Only US Credit Cards Accepted)
		%tr
			%td
				%b Payment Method:
			%td
				= image_tag 'card_images/ccards_all.png', :id => 'card_images', :align => 'center', :alt => 'Credit Card'
				&nbsp &nbsp &nbsp

	%table						
		%tr
			%td
				%b Card Number:
			- @order.card_number = '4411037113154626' if Rails.env.development?
			%td= f.text_field :card_number

		%tr
			%td
				%b Card Security Code (CVV):
				-  @order.card_cvv = '123' if Rails.env.development?
			%td
				= f.text_field :card_cvv
				&nbsp;&nbsp;
				= image_tag 'card_images/cvv.png', :align => 'center'
		%tr
			%td 
				%b Card Expiration
				- @order.card_exp_year = '2013' if Rails.env.development?
			%td
				= f.select :card_exp_month, @months
				&nbsp;/&nbsp;
				= f.select :card_exp_year, @years

		%tr
			%td 
			%td 
				%h3 Billing Info
		%tr
			%td
				%b First Name:
			%td= f.text_field :fname

		%tr
			%td
				%b Last Name:
			%td= f.text_field :lname
		%tr
			%td
				%b Address:
			%td= f.text_field :address1

		%tr
			%td
				%b City:
			%td=f.text_field :city

		%tr
			%td
				%b State:
			%td
				= f.collection_select :geo_state, @states, :id, :name
				&nbsp;&nbsp;
				%b Zip Code:
				=f.text_field :zip
		%tr
			%td
				%b E-mail:
			%td= f.text_field :email
				

	= f.submit "Buy"

		
	%br
