- content_for :left_column do
	%h1 
		Purchase
		= @sku.title

	#checkout
		#price_div( style="width:150px;" )
			%h3
				Price: 
				%span#the_price( sku_price="#{@sku.price}" )
					= number_to_currency @sku.price.to_f / 100
			-if @sku.contains_merch?		
			%b 
				Shipping fee of 
				=number_to_currency( @sku.domestic_shipping_price.to_f / 100 )
				applies to US orders.
				%br
				Shipping fee of 
				=number_to_currency( @sku.international_shipping_price.to_f / 100)  
				applies to International orders.
			%br

		= form_for @order do |f|
			= f.hidden_field :sku_id, :value => @sku.id
			= hidden_field_tag :author_id, @author.id if params[:author_id] # todo make this part of the form_for
			%h3 Payment Information
			(US Credit Cards or PayPal Only)
			%br
			%br.clear
			.order_label
				Enter Coupon Code: 
			.order_field
				= text_field_tag :coupon_code, "", :class => :coupon
				#valid_coupon_div( style = "margin:10px 0px;")
					#valid_coupon
			= render 'pay_method', :f => f
			
			#cc_info
				= render 'cc_info', :f => f
				%br.clear
				%h3
					Billing Information
				- if @current_user.anonymous?
					.order_label
						E-mail:
					.order_field
						= f.text_field :email, :class => 'required_email'
				- else
					= f.hidden_field :email, :value => @current_user.email
				= fields_for :billing_address do |addr_form|
					= render 'geo_addresses/address_fields', :addr_form => addr_form, :addr => @billing_address
			
				- if @sku.contains_merch?
					= render 'shipping_form', :f => f
					
					
				= f.submit 'Place Order', :class => 'buttons'
				%br
				%br
				Note: Your credit card will be billed by "Groundswell Enterprises".
		%br.clear
		#paypal_x_checkout
			Click the PayPal logo below to sign into your PayPal account.  Please be sure to enter the correct shipping address at Paypal. You will be returned here to complete your order.
			%br
			%br
			-if params[:author_id]
				= link_to image_tag( 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' ), go_paypal_orders_url(:sku => @sku, :author_id => @author.id, :protocol => SSL_PROTOCOL)
			-else
				= link_to image_tag( 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' ), go_paypal_orders_url(:sku => @sku, :protocol => SSL_PROTOCOL)