- content_for :left_column do
	%h1 
		Purchase
		= @sku.title

	#checkout
		#price_div( style="width:150px;" )
			%h3
				Price: 
				%span#the_price( sku_price="#{@sku.price}" )
					= number_to_currency @sku.price.to_f / 100
			%br

		= form_for @order do |f|
			= f.hidden_field :sku_id, :value => @sku.id
			= hidden_field_tag :author_id, @author.id if params[:author_id] # todo make this part of the form_for
			%h3 Payment Information
			(US Credit Cards or PayPal Only)
			%br
			%br.clear
			= render 'payinfo', :f => f
			%br.clear
			%h3
				Billing Information
			%table
				- if @current_user.anonymous?
					.order_label
						E-mail:
					.order_field
						= f.text_field :email, :class => 'required_email'
				-else
					= f.hidden_field :email, :value => @current_user.email
			= fields_for :billing_address do |addr_form|
				= render 'geo_addresses/address_fields', :addr_form => addr_form, :addr => @billing_address
					
					
			= f.submit