- content_for :left_column do
	= render :partial => 'admin/nav'
	
- content_for :middle_column do
	%h1 
		Refund for Order
		= @order.order_transaction.reference
	%br
	= render :partial => 'order_info'
	
	%h3 Refund Details
	%br
	= form_for @refund, :url => {:action => :confirm_refund} do |f|
		= render :partial => 'refund_form', :locals => {:f => f}
