- content_for :left_column do
	= render :partial => 'admin/nav'
	
- content_for :middle_column do
	%h1 
		Refund for Order
		= @order.order_transaction.reference
	%br
	%h3 Order Details
	.order_label
		Customer
	.order_field
		= @order.user.name
	.clear

	.order_label
		Item
	.order_field
		= @order.sku.title
	.clear

	.order_label
		Item Amount
	.order_field
		= format_price @order.sku.price
	.clear

	.order_label
		Shipping Amount
	.order_field
		= format_price @order.shipping_amount
	.clear

	.order_label
		Taxes
	.order_field
		= format_price @order.tax_amount
	.clear

	%br 
	.order_label
		%h4 Total Amount
	.order_field
		= format_price @order.total
	.clear

		
	%br
	%hr
	%h3 Refund Details
	= form_for @refund, :url => {:action => :confirm_refund} do |f|
		= render :partial => 'refund_form', :locals => {:f => f}
