- content_for :left_column do
	%h1 
		Purchase
		= @sku.title

	#checkout
		#price_div( style="width:150px;" )
			%h3
				Unit Price: 
				%span#the_price( sku_price="#{@sku.price}" )
					= number_to_currency @unit_price.to_f / 100
			- if @coupon_code.present?
				%h3 Coupon:
				= @coupon_code
			%h3
				Quantity:
				= @order.sku_quantity
			%h3
				Total:
				= @total_price.to_f / 100
		-if @sku.contains_merch?
			%b
				Shipping & handling fee of 
				= number_to_currency( @sku.domestic_shipping_price.to_f / 100 )
				per book applies to US orders.
				%br
				Shipping & handling fee of 
				= number_to_currency( @sku.international_shipping_price.to_f / 100)  
				per book applies to International orders.
				%br
				Taxes added for 
				=@sku.owner.user.billing_address.state
				orders.
				%br
			%br

		= form_for @order do |f|
			= f.hidden_field :paypal_express_token, :value => @order.paypal_express_token
			= f.hidden_field :paypal_express_payer_id, :value => @order.paypal_express_payer_id
			= hidden_field_tag :author_id, @author.id if params[:author_id] # todo make this part of the form_for
			= f.hidden_field :user_id, :value => @current_user.id
			= f.hidden_field :sku_id, :value => @sku.id
			= f.hidden_field :sku_quantity, :value => @order.sku_quantity
			= hidden_field_tag :coupon_code, :value => @coupon
	
			= fields_for :shipping_address do |addr_form|
				= addr_form.hidden_field :address_type, :value => 'shipping'
				= addr_form.hidden_field :name, :value => @paypal_data.params["name"]
				= addr_form.hidden_field :street, :value => @paypal_data.params["street1"]
				= addr_form.hidden_field :street2, :value => @paypal_data.params["street2"]
				= addr_form.hidden_field :city, :value => @paypal_data.params["city_name"]
				= addr_form.hidden_field :state, :value => @paypal_data.params["state_or_province"]
				= addr_form.hidden_field :zip, :value => @paypal_data.params["postal_code"]
				= addr_form.hidden_field :country, :value => @paypal_data.params["country"]
	
			- if @current_user.anonymous?
				%b E-mail (REQUIRED)
				= f.text_field :email, :class => 'required_email'
				%br
				Please provide an email address for your order confirmation and receipt.
				%br
			- else
				= f.hidden_field :email, :value => @current_user.email
			%p
				-if @sku.allow_comment?
					%h3 Special Order Instructions
					= f.text_area :comment
				%br
			%p Please confirm your Paypal order by clicking the button below.
			%p
				Subscribe to #{@author.pen_name}'s newsletter (come on, you know you want it!)
				= f.check_box :subscribe_to_author, {:checked => true}, 'true', 'false'				
			%p Note: Your Paypal Account will be billed by "Groundswell Enterprises".
			%p
			= f.submit "Confirm Your Paypal Order", :class => :buttons