- content_for :left_column do
	%h1 
		Purchase
		= @sku.title

	#checkout
		#price_div( style="width:150px;" )
			%h3
				Price: 
				%span#the_price( sku_price="#{@sku.price}" )
					= number_to_currency @sku.price.to_f / 100
		-if @sku.contains_merch?		
			%b
				Shipping fee of 
				= number_to_currency( @sku.domestic_shipping_price.to_f / 100 )
				applies to US orders.
				%br
				Shipping fee of 
				= number_to_currency( @sku.international_shipping_price.to_f / 100)  
				applies to International orders.
			%br

		= form_for @order do |f|
			= f.hidden_field :paypal_express_token, :value => @order.paypal_express_token
			= f.hidden_field :paypal_express_payer_id, :value => @order.paypal_express_payer_id
			= hidden_field_tag :author_id, @author.id if params[:author_id] # todo make this part of the form_for
			= f.hidden_field :user_id, :value => @current_user.id
			= f.hidden_field :sku_id, :value => @sku.id
	
			= fields_for :shipping_address do |addr_form|
				= addr_form.hidden_field :address_type, :value => 'shipping'
				= addr_form.hidden_field :first_name, :value => @paypal_data.params["name"].split(' ').first
				= addr_form.hidden_field :last_name, :value => @paypal_data.params["name"].split(' ').last
				= addr_form.hidden_field :street, :value => @paypal_data.params["street1"]
				= addr_form.hidden_field :street2, :value => @paypal_data.params["street2"]
				= addr_form.hidden_field :city, :value => @paypal_data.params["city_name"]
				= addr_form.hidden_field :state, :value => @paypal_data.params["state_or_province"]
				= addr_form.hidden_field :zip, :value => @paypal_data.params["postal_code"]
				= addr_form.hidden_field :country, :value => @paypal_data.params["country"]
	
			- if @current_user.anonymous?
				%b E-mail (REQUIRED)
				= f.text_field :email, :class => 'required_email'
				%br
				Please provide an email address for your order confirmation and receipt.
				%br
			- else
				= f.hidden_field :email, :value => @current_user.email
			%br
			%b Enter Coupon Code (if applicable)
			= text_field_tag :coupon_code, "", :class => :coupon
			#valid_coupon_div( style = "margin:10px 0px;")
				#valid_coupon
			%p Please confirm your Paypal order by clicking the button below.
					
			%p Note: Your Paypal Account will be billed by "Groundswell Enterprises".
			%p
			= f.submit "Confirm Your Paypal Order", :class => :buttons