= f.label :email, "Your Email:"

- if @current_user.anonymous?
	= f.text_field :email
- else
	= f.text_field :email, :value => @current_user.email

= f.label :subject, "Subject:"
= f.text_field :subject, :value => @subject
%p
	= f.text_area :content, :rows => 12, :cols => 72
%br
- unless @current_user.human?
	Please type the words you see below:
	= recaptcha_tags( :display => { :theme=>"clean" } ).html_safe
= f.submit 'Enter', :class=>'buttons'
|
= link_to "Cancel", root_url