.listing
	.listing_avatar
		= avatar_tag( book, :thumb, :width => 64 )
	.listing_data
		.listing_title
			= link_to book.title, author_book_path( @author, book )
		.listing_genre
			= book.genre.name if book.genre
		- unless book.ebook_sku.nil?
			.listing_buy
				= link_to "Buy Ebook #{format_price( book.ebook_sku.price )}", new_author_order_url( @author, :sku => book.ebook_sku, :protocol => SSL_PROTOCOL )
		- unless book.audio_book_sku.nil?
			.listing_buy
				= link_to "Buy Audio Book #{format_price( book.audio_book_sku.price )}", new_author_order_url( @author, :sku => book.audio_book_sku, :protocol => SSL_PROTOCOL )
	.clear
	