- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1
			Edit
			= @book.title

		= image_tag @book.avatar.location('thumb'), :width => @book.avatar.thumb_width if @book.has_attached_avatar?
		
		
		= form_for [ @author, @book ], :html => { :multipart => true } do |f|
			= file_field_tag :attached_avatar_file
			= f.label 'Subtitle:'
			= f.text_field :subtitle
			= f.label 'Genre:'
			= f.collection_select :genre_id, @genres, :id, :name
			= f.label "Description:"
			= f.text_area :description
			= f.label 'Keywords:'
			= f.text_field :tag_list
			= f.submit
			
	.form_group
		%span.button= link_to "Upload an Ebook", new_author_book_asset_path( @author, @book, :type => 'ebook' ), :class => 'gray'
		|
		%span.button= link_to "Upload a PDF", new_author_book_asset_path( @author, @book, :type => 'pdf' ), :class => 'gray'
		|
		%span.button= link_to "Upload an Audio Book", new_author_book_asset_path( @author, @book, :type => 'audio_book' ), :class => 'gray'
		- unless @book.assets.empty?
			%h2
				= @book.title
				Assets
			- for asset in @book.assets
				= asset.class.name
				= asset.title
				= link_to 'edit', edit_author_book_asset_path( @author, @book, asset )
				= link_to 'delete', author_book_asset_path( @author, @book, asset ), :method => :delete 
				%hr
		
- content_for :right_column do
	%h2 Help
	
	%h3 Links
	- for link in @book.links
		= link_to link.title, link.url
		edit | delete
		

