- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		= form_for [ @author, @book ] do |f|
			%h1
				Enter metadata for "
				= @book.title
				"
			= link_to "(Change Title)", "#", :class => :show_edit_title
			#edit_title
				= f.text_field :title, :class => :book_title_field
				= f.submit "Update"
				= link_to "Cancel", "#", :class => :hide_edit_title
		
		= image_tag @book.avatar.location('thumb'), :width => @book.avatar.thumb_width if @book.has_attached_avatar?
		
		%br
		= form_for [ @author, @book ], :html => { :multipart => true } do |f|
			= f.label 'Select Cover Art'
			= file_field_tag :attached_avatar_file
			%br
			= f.label 'Subtitle:'
			= f.text_field :subtitle
			= f.label 'Genre:'
			= f.collection_select :genre_id, @genres, :id, :name
			= f.label "Description:"
			= f.text_area :description
			%br
			= f.submit('Update Metadata')
	.clear
	%br
	%br		
	.form_group
		%h3 
			Add Formats for
			" 
			= @book.title
			"
		%br
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_author_book_asset_url( @author, @book, :type => 'etext' )
			= link_to "Upload eBook", new_author_book_asset_url( @author, @book, :type => 'etext' )
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_author_book_asset_url( @author, @book, :type => 'pdf' )
			= link_to "Upload PDF", new_author_book_asset_url( @author, @book, :type => 'pdf' )
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_author_book_asset_url( @author, @book, :type => 'audio' )
			= link_to "Upload Audio", new_author_book_asset_url( @author, @book, :type => 'audio' )
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_author_merch_url( @author, @merch)
			= link_to "Add Physical Book", new_author_merch_url( @author, @merch)
		.clear
		- unless @book.assets.empty?
			%h2
				= @book.title
				Assets
			%table.admin_table
				- for asset in @book.assets
					%tr
						%td
							= asset.title
						%td
							= asset.class.name
						%td
							= asset.asset_type
						%td
							= link_to 'edit', edit_author_book_asset_url( @author, @book, asset )
						%td
							= link_to 'delete', author_book_asset_url( @author, @book, asset ), :method => :delete 
		
- content_for :right_column do
	= render 'shared/help'
	
	%hr
	%h3 
		Book Upload Steps
	%p
		Step 1: 
		Enter the title of your book.
	%p
		%b Step 2:
		Enter the meta data for your book
	%p
		Step 3:
		Add digital formats
		

