- content_for :left_column do
	= avatar_tag( @book, :thumb )
	%h1= @book.title
	
	
	= @book.description.html_safe
	

	%h3 Reviews?
	= render @book.reviews
	= render :partial => 'reviews/new'
	
- content_for :right_column do
	&nbsp;