- content_for :left_column do
	.books
		.left_col
			.book_thumb
				= avatar_tag( @book, :thumb )
			
			.button
				=link_to "FREE SAMPLE","#", :class=>'blue'
			.button
				=link_to "Buy E-book $6.99","#", :class=>'dark-gray'				
			
			.also-available
				%h3 Also Available
			
				%ul
					%li
						= link_to "Hardcover Book (Signed Edition)","#", :class=>'main' 
						%em= link_to "$24.99 buy","#"
					%li
						= link_to "My ugly Mug Mug","#"
						%em= link_to "$4.99 buy","#"
		
		.right_col.text
			%h1= @book.title
			.book-meta.clearfix
				.info
					%p by: <em>Author</em>
					%p Reads: <em>400</em>
				.ratings
					%p Avg rating: 
					%ul.star-rating
						%li.current-rating{ :style=>'width:75px' }
					%em= link_to "rate it","#"
			.book_content	
				= @book.description.html_safe
	
			%hr.divider
						
			= render :partial => 'reviews/new'
			%hr.divider
			= render @book.reviews
			
	
- content_for :right_column do
	&nbsp;