- content_for :left_column do
	.books
		.left_col
			= avatar_tag( @book, :thumb )
			%h3 Also Available
			
			%ul
				%li 
		
		.right_col.text
			%h1= @book.title
			.book-meta.clearfix
				.info
					%p by: <em>Author</em>
					%p Reads: <em>400</em>
				.ratings
					%p Avg rating: 
					%ul.star-rating
						%li.current-rating{ :style=>'width:75px' }
					%em= link_to "rate it","#"
			
			= @book.description.html_safe
	
			%hr.divider
			
			= render @book.reviews
			= render :partial => 'reviews/new'
	
- content_for :right_column do
	&nbsp;