- content_for :left_column do
	= image_tag( @book.avatar.location('thumb'), :width => @book.avatar.thumb_width ) if @book.has_attached_avatar?
	%h1= @book.title
	%br
	By
	= @book.author.pen_name
	%br
	%br
	Genre:
	= @book.genre.name if @book.genre
	%br
	%br
	- for tag in @book.tags
		= link_to separated_list( @book.tags, tag.name, "," ), root_path( :tag => tag.name )
	
	%br
	%br
	
	= @book.description.html_safe
	
	%h3 Preview
	- if @book.assets.free.empty?
		No Free Preview
	- for asset in @book.assets.free do
		= link_to asset.title, download_author_book_asset_path( @author, @book, asset )
		%br
	
	%h3 Buy It
	- unless @book.ebook_sku.nil?
		.book_buy_ebook
			= link_to "Buy Ebook", new_author_order_path( @author, :sku => @book.ebook_sku )
			= format_price( @book.ebook_sku.price )
	- unless @book.audio_book_sku.nil?
		.book_buy_audio_book
			= link_to "Buy Audio Book", new_author_order_path( @author, :sku => @book.audio_book_sku )
			= format_price( @book.audio_book_sku.price )
	- unless @book.merch_skus.empty?
		- for merch_sku in @book.merch_skus
			.book_buy_merch
				= link_to "Buy #{merch_sku.title}", new_author_order_path( @author, :sku => merch_sku )
				= format_price( merch_sku.price )
	- unless @book.custom_skus.empty?
		- for custom_sku in @book.custom_skus
			.book_buy_custom
				= link_to "Buy #{custom_sku.title}", new_author_order_path( @author, :sku => custom_sku )
				= format_price( custom_sku.price )

	%h3 Reviews?
	= render @book.reviews
	= render :partial=>'reviews/new'
	
- content_for :right_column do
	&nbsp;
