- content_for :left_column do
	.books
		.left_col
			.book_thumb
				= avatar_tag( @book, :profile, :width => 150 )
			
			- unless @book.preview.nil?
				%li
					.button
						= link_to "Free Sample", preview_author_book_url( @author, @book )
			
			- unless @book.ebook_sku.nil?
				%li
					.button
						=link_to "Buy E-book #{format_price( @book.ebook_sku.price )}", buy_path( @author, @book.ebook_sku )
			
			- unless @book.audio_book_sku.nil?
				%li
					.button
						=link_to "Buy Audio Book #{format_price( @book.audio_book_sku.price )}", buy_path( @author, @book.audio_book_sku )
			
			- unless @book.custom_skus.empty? && @book.merch_skus.empty?
				.also-available
					%h3 Also Available
					%ul
						- for sku in @book.merch_skus.published
							- unless sku.sold_out?
								%li
									= link_to sku.title, author_store_url( @author, sku ), :class => 'main' 
									%em= link_to "#{format_price( sku.price )} buy", buy_path( @author, sku )
						- for sku in @book.custom_skus.published
							- unless sku.sold_out?
								%li
									= link_to sku.title, author_store_url( @author, sku ), :class => 'main' 
									%em= link_to "#{format_price( sku.price )} buy", buy_path( @author, sku )
						
		.right_col.text
			- cache("book_description_#{@book.author.id}_#{@book.id}") do 
				%h1= @book.title
				.book-meta.clearfix
					-#
						.ratings
							%ul.star-rating
								%li.current-rating{ :style => "width:#{ ( @book.review_average * 125 ) / 5 }px;" }
							%em= link_to "Rate It", "#reviews"
				.book_content	
					= @book.description.html_safe
			
			%hr.divider
			#reviews
			- if @current_user.anonymous?
				%b
					Please
					= link_to "Login", login_url
					or
					= link_to "Register", register_url
					to review this book.
			- else
				= render :partial => 'reviews/new'
			
			- unless @book.reviews.empty?
				%hr.divider
				%h3
					Reviews
				= render @book.reviews.order(' created_at desc')
			
			.clear
	
- content_for :right_column do
	&nbsp;
