- content_for :left_column do
	= image_tag( @book.avatar.location('thumb'), :width => @book.avatar.thumb_width ) if @book.has_attached_avatar?
	%h1= @book.title
	%br
	By
	= @book.author.pen_name
	%br
	%br
	Genre:
	= @book.genre.name
	%br
	%br
	- for tag in @book.tags
		= link_to separated_list( @book.tags, tag.name, "," ), root_path( :tag => tag.name )
	
	%br
	%br
	
	= @book.description.html_safe
	
	%h3 Assets
	- for asset in @book.assets do
		= link_to asset.title, download_author_book_asset_path( @author, @book, asset )
		
	%h3 Reviews?
	= render @book.reviews
	= render :partial=>'reviews/new'
	
- content_for :right_column do
	&nbsp;