- content_for :left_column do
	.books
		.left_col
			.book_thumb
				= avatar_tag( @book, :profile, :width => 150 )
			
			- if @book.assets.free.empty?
				&nbsp&nbsp;&nbsp;No Free Preview
			- for asset in @book.assets.free do
				.button
					= link_to "FREE SAMPLE", download_author_book_asset_path( @author, @book, asset ), :class=>'blue'
			
			- unless @book.ebook_sku.nil?
				.button
					=link_to "Buy E-book #{format_price( @book.ebook_sku.price )}", new_author_order_path( @author, :sku => @book.ebook_sku ), :class=>'dark-gray'
			
			- unless @book.audio_book_sku.nil?
				.button
					=link_to "Buy Audio Book #{format_price( @book.ebook_sku.price )}", new_author_order_path( @author, :sku => @book.audio_book_sku ), :class=>'dark-gray'
			
			- unless @book.custom_skus.empty? && @book.merch_skus.empty?
				.also-available
					%h3 Also Available
					%ul
				- for sku in @book.merch_skus
					%li
						= link_to sku.title, new_author_order_path( @author, :sku => sku ), :class => 'main' 
						%em= link_to "#{format_price( sku.price )} buy", new_author_order_path( @author, :sku => sku )
				- for sku in @book.custom_skus
					%li
						= link_to sku.title, new_author_order_path( @author, :sku => sku ), :class => 'main' 
						%em= link_to "#{format_price( sku.price )} buy", new_author_order_path( @author, :sku => sku )
						
		.right_col.text
			%h1= @book.title
			.book-meta.clearfix
				.info
					- if @book.genre.present?
						%p
							Genre:
							%em= @book.genre.name
					%p 
						By:
						%em= @book.author.pen_name
					%p
						Reads:
						%em= @book.view_count # todo fix with real stats
				.ratings
					%p Avg rating: 
					%ul.star-rating
						%li.current-rating{ :style => "width:#{ ( @book.review_average * 125 ) / 5 }px;" }
					%em= link_to "Rate It", "#reviews"
			.book_content	
				= @book.description.html_safe
			
			%hr.divider
			#reviews
			= render :partial => 'reviews/new'
			
			%hr.divider
			%h3
				Reviews
			= render @book.reviews
			
			.clear
	
- content_for :right_column do
	&nbsp;
