- content_for :left_column do
	= image_tag( @book.avatar.location('thumb'), :width => @book.avatar.thumb_width ) if @book.has_attached_avatar?
	%h1= @book.title
	%br
	By
	= @book.author.pen_name
	%br
	%br
	= @book.description.html_safe
	
	%h3 Assets
	- for asset in @book.assets do
		= link_to asset.title, download_author_book_asset_path( @author, @book, asset )
	
- content_for :right_column do
	&nbsp;