= hidden_field_tag :dir, params[:dir]
= hidden_field_tag :sort, params[:sort]
- if @links.empty?
	No Links
- else
	%table.admin_table
		%th= sortable 'title'
		%th= sortable 'url'
		- for link in @links
			%tr
				%td( style = 'width:200px;' )
					= link.title
				%td.small= link_to link.url, link.url
				%td.small
					= link_to image_tag( 'edit.png', :width => 20 ), edit_link_path( link ) 
					= link_to 'edit', edit_link_path( link )
				%td.small
					= link_to image_tag( 'trash.png', :width => 20 ), link, :method => 'delete', :class => 'confirm'
					= link_to 'delete', link, :method => 'delete', :class => 'confirm'
	- unless @links.total_pages < 2
		.pagination
			.page_info
				= page_entries_info @links
			= will_paginate @links