- content_for :left_column do
	= render :partial => 'nav'
		
- content_for :middle_column do
	%h1 Orders
	%br
		
	%h3 Orders Last 24 hours
	%table.admin_table
		%tr
			%td 
				%b Date
			%td 
				%b Confirmation #
			%td 
				%b Item
			%td 
				%b Amount				
		-for order in @orders_past_day
			%tr
				%td= order.created_at.to_date
				%td= order.order_transaction.reference
				%td= order.sku.title
				%td= format_price( order.total )
	%br
	%br

	#chartdiv
	= javascript_tag
		=update_page do |page|
			-page << plot('chartdiv', [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]], :seriesDefaults => { :color => "#a55" })
	

	= render :partial => 'date_picker'
				
	%h3 
		Orders from 
		= format_date_only( @start_date.to_date )
		to
		= format_date_only( @end_date.to_date )	
			
	%table.admin_table
		%tr
			%td 
				%b Date
			%td 
				%b Confirmation #
			%td 
				%b Item
			%td 
				%b Amount				
		-for order in @orders_for_period
			%tr
				%td= order.created_at.to_date
				%td= link_to order.order_transaction.reference, author_admin_order_detail_path( :id => order.id ) 
				%td= order.sku.title
				%td= format_price( order.total ) 
	%br
	

		
