%center
	%h1 o_O

%h3 The page you're looking for isn't here.

We've been notified of the error, but you can give us additional information below, such as what you were looking for, or what link you clicked that caused the error:
%br
%br

- if @crash
	.form_group
		= form_for @crash do |f|
			= f.label "Describe What Happened (optional):"
			= f.text_area :user_note, :class => 'long_desc_area'
			%br
			= f.submit 'Enter', :class=> 'buttons'
			|
			= link_to "Cancel", root_path
