= f.label 'Title'
= f.text_field :title, :class => 'title_field'

= f.label 'Asset Type'
= f.select :type, [['Ebook', 'etext'], ['AudioBook', 'audio']]

= f.label 'File to upload (epub, mobi, lrf, pdf, txt max 500 MB)'
= file_field_tag :attached_document_file

= f.label "Pricing Type"
= f.select :asset_type, [  [ 'Free/Sample/Preview', 'free' ], [ 'For Sale', 'sale' ] ]

- if @book.ebook_sku.nil?
	#price
		= f.label "Price ($)"
		= f.text_field :price
		
#audio_fields{ :style => 'display:none;' }	
	= f.label 'Duration:'
	= f.text_field :duration
	= f.label 'Bitrate:'
	= f.text_field :bitrate

= f.label :description
= f.text_area :description, :class => 'editor_small'
%br


%p
	= f.label "Availability"
	= f.select :status, [['Available', 'publish'], ['Unavailable', 'unpublish']]

= f.submit m, :class => :buttons
|
= link_to 'Cancel', :back