= hidden_field_tag :dir, params[:dir]
= hidden_field_tag :sort, params[:sort]
- if @articles.empty?
	No Articles
- else
	%table.admin_table
		%th= sortable 'title'
		%th= sortable 'publish_at', "Publish Date"
		%th= sortable 'status'
		- for article in @articles
			%tr
				%td( style = 'width:300px;' )
					= link_to article.title, author_blog_path( article.owner, article )
				%td.tiny= format_date_only article.publish_at
				%td.tiny= article.status
				%td.small
					= link_to image_tag( 'edit.png', :width => 20 ), edit_author_blog_path( article.owner, article ) 
					= link_to 'edit', edit_author_blog_path( article.owner, article )
				%td.small
					= link_to image_tag( 'trash.png', :width => 20 ), article, :method => 'delete', :class => 'confirm'
					= link_to 'delete', article, :method => 'delete', :class => 'confirm'
	- unless @articles.total_pages < 2
		.pagination
			.page_info
				= page_entries_info @articles
			= will_paginate @articles