= form_tag site_admin_blog_path, :method => :get, :id => 'search_form' do
	= hidden_field_tag :dir, params[:dir]
	= hidden_field_tag :sort, params[:sort]
	= text_field_tag :q, params[:q]
	= submit_tag 'Search', :class => 'buttons'
	|
	= link_to 'Clear', :sort => params[:sort], :dir => params[:dir], :q => nil

- if @articles.empty?
	No Articles
- else
	%table.admin_table
		%th= sortable Article, 'title'
		%th= sortable Article, 'publish_at', "Publish Date"
		%th= sortable Article, 'status'
		- for article in @articles
			%tr
				%td( style = 'width:200px;' )
					= link_to image_tag( 'view.png', :width => 20 ), blog_path( article )
					= link_to article.title, blog_path( article )
				%td.small= format_date_only article.publish_at
				%td.small= article.status
				%td.small
					= link_to image_tag( 'edit.png', :width => 16 ), edit_article_path( article ) 
					= link_to 'edit', edit_article_path( article )
				%td.small
					= link_to image_tag( 'trash.png', :width => 16 ), ""
					= link_to 'delete', ""
	
	.pagination
		.page_info
			= page_entries_info @articles
		= will_paginate @articles