%h1.admin_header
	Blog Posts Admin 
.new_button
	= link_to image_tag( 'add.png', :width => 16 ), new_blog_path
	%b= link_to "New Post", new_blog_path
	
%table
	%thead
		%tr
			%th Title
			%th Description
			%th Status
			%th Published On

	%tbody
		-@articles.each do |blog_post|
			%tr
				%td
					= link_to blog_post.title, blog_path( blog_post )
				%td
					= snip blog_post.content, 50
				%td
					= blog_post.status
				%td
					= format_date blog_post.created_at #fix this for publish_on
				%td
					= link_to image_tag( 'edit.png', :width => 20 ), edit_blog_path( blog_post )
					= link_to 'edit', edit_blog_path( blog_post )
				%td
					= link_to image_tag( 'trash.png', :width => 20 ), blog_path( blog_post ), :confirm => 'Are you sure you want to delete this article?', :method => :delete
					= link_to 'delete', blog_path( blog_post ), :confirm => 'Are you sure you want to delete this article?', :method => :delete