- content_for :left_column do

	.author_hd
		%h1
			= @author ? @author.pen_name : @current_site.name
			Blog
		- if @author
			.author_corner
				= render :partial => 'authors/menu'
	.author_bd
		#inner-content-wrapper
			- if @topic
				%h4
					= pluralize @articles.count, 'Article'
					in
					= @topic.capitalize
			- elsif @tag
				%h4
					= pluralize @articles.count, 'Article' 
					tagged
					= @topic
			- elsif @month
				%h4
					= pluralize @articles.count, 'Article'
					for
					= Date::MONTHNAMES[@month.to_i]
					= @year
			- elsif @year
				%h4
					= pluralize @articles.count, 'Article'
					for
					= @year
			#article_list
				- for article in @articles
					= render article
			%br
			%br
			= will_paginate @articles

- content_for :right_column do
	= render :partial => 'authors/right_column'
	= render :partial => 'sidebar'