%h1
	The todo Blog
	<a href="http://feeds.feedburner.com/todo" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0; height:24px;"/></a>

- if @topic
	%h4
		= pluralize @articles.count, 'Article'
		in
		= @topic.capitalize
- elsif @tag
	%h4
		= pluralize @articles.count, 'Article' 
		tagged
		= @topic
- elsif @month
	%h4
		= pluralize @articles.count, 'Article'
		for
		= Date::MONTHNAMES[@month.to_i]
		= @year
#article_list
	- for article in @articles
		= render article

	%br
	%br
	= will_paginate @articles

#right_bar
	= render :partial => 'sidebar'