%h3
	Review this 
	= @reviewable.class.to_s
- form_for [ @author, @reviewable, Review.new ] do |f| 

	%fieldset.radios
		= f.radio_button :score, 1, :class => :show_stars, :title => 'Poor', :id=>'radio-01'
		= f.radio_button :score, 2, :class => :show_stars, :title => 'Meh...'
		= f.radio_button :score, 3, :class => :show_stars, :title => 'Good'
		= f.radio_button :score, 4, :class => :show_stars, :title => 'Great!'
		%br

	= f.text_area :content
	%br
	= f.submit 'Create', :class=>'button'