- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 
			Site URL
		
		= form_for [ @current_author, @site ] do |f|
			= f.label 'Domain:'
			= f.text_field :domain
			= f.label 'Name:'
			= f.text_field :name
			%br
			= f.submit 'Enter', :class => 'buttons'

	
	