- content_for :left_column do
	-# cache( :controller => 'site', :action => 'index', :action_suffix => 'left') do
	.pad_content
	
		%h1
			Authors: Sell your books and merchandise directly to your readers 
		%h4
			
			%br
			Own your customers and create lasting relationships with your own online store
		%br
		%h4
			BackMyBook gives you
		%ul
			%li Free online store design and setup
			%li Easy integration with your existing website
			%li E-commerce engine with credit card and Paypal support 
			%li Email marketing 
			%li Personalized service and support
		%br
		%h4
			Try us risk free with our "NO HASSLE" 3 month trial
		%ul
			%li No upfront fees, charges, or subscriptions
			%li Industry leading 90/10 Revenue Share
			%li Let your readers be your customers, not someone else's


		%br	
		%h4
			How much does it cost?
		%ul
			%li The BackMyBook service is FREE to use
			%li When you sell a book, you keep 90% of the net revenue, we keep 10%  
			%li There is a minimum revenue share of $150 per quarter  
		%br
		%br	
		%b	Scott's Testimonial
		%br
		%b	Reader's Testimonial
		
			
	
- content_for :right_column do

	.pad_content
		= link_to image_tag( "bmb_sigler_hp_promo.jpg" ), 'authors/scott-sigler'

	.follow-me.ui-helper-clearfix
		%h3 Follow Us
		%div
			= link_to image_tag( 'twitter.jpg' ), "http://twitter.com/backmybook"
			= link_to image_tag( 'facebook.jpg' ), "http://www.facebook.com/pages/BackMyBook/129259667097024"
			= link_to image_tag( 'rss.jpg',:alt=>'rss feed' ), "http://feeds.feedburner.com/TheBackmybookBlog"
			= link_to image_tag( 'mail.jpg',:alt=>'contact author', :class => :toggle_contact_form ), ""
		#contact_form
			%br.clear
			= form_for Contact.new do |f|
				= f.label "Email:"
				= f.text_field :email
				= f.submit 'Submit'
	
	%div
		- unless @current_site.podcasts.empty?
			%h3 
				=link_to 'Podcast', podcasts_url
			%div.text 
				- for episode in @current_site.podcasts.first.episodes
					.episode
						= image_tag "podcast_icon.png", :width => 20
						= link_to episode.title, podcast_episode_url( episode.podcast, episode )
			
	%div
		%h3 
			=link_to 'Recent Blog Articles','#'
		%div.text 

			.recent_posts
				- for article in @recent_blog_posts
					.recent_title
						= image_tag "blog_post_icon.png", :height => 20
						= link_to article.title, blog_link( article )
					.recent_preview.text
						= snip article.content.html_safe, 140


		