.pad_content
	.top_promo.clearfix
		%ul.home_nav
			%li.sell
				= link_to '#1' do
					%span Sell your books
			%li 
				= link_to '#2' do
					%span Features
			%li 
				= link_to '#3' do
					%span About
			%li 
				= link_to '#4' do
					%span Contact
			%li.social
				= link_to image_tag( "facebook.png" ), '#5'
				= link_to image_tag( "twitter.png" ), '#6'

	.presentation.clearfix
		.col1
			video
		.col2
			%h1 Simply Sell your books.
			%ul.steps
				%li
					%em
						1
					%p
						Create your store to start selling and receiving payments instantly.
				%li
					%em
						2
					%p
						Keep your readers intereset in you and begin turning them into fans.
				%li
					%em
						3
					%p
						FREE 30-day trial so you get back to writing... for at least a month.

	.testimonials.clearfix
		%ul
			%li.test1
				.crop
				I saw my sales grow and my fanbase grow because of Backmybook. Great service and guys!
				%p -Scott Siegler
			%li.test2
				.crop
				Backmybook is easy to use and an essential for any author.
				%p -Jane Doe
			%li.test3
				.crop
				I was able to sell my books, tshirts, and keep in touch with my readers all in one place.
				%p - John Doe
		
		
	.banners_about.clearfix
		%h2 We are...
		.ft_banners
			.col.col1
				%h3
					easy
				%p
					Make a professional looking website and online store by leaving all the coding and brackets to [us].
					%span
						= link_to 'Get started',''
			.col.col2
				%h3
					resourceful
				%p
					We will provide you a branded store, setup your books for sale, an dintegrate with you rexisting website for free!
					%span
						= link_to 'Features',''
			.col.col3
				%h3
					experienced
				%p
					Over 15 years of experience in creating online communites and we're still really nice.
					%span
						= link_to 'About',''
	
	%br.clear

