- content_for :left_column do
	-# cache( :controller => 'site', :action => 'index', :action_suffix => 'left') do
	.pad_content
	
		#hp_promo
			.top_promo
				%h1
					%span.author Authors:
					%span Sell your books &amp; merch directly to your readers
			
			.text
				We make it easy and economical to create lasting relationships with your customers with your own online bookstore.
				
			= link_to image_tag( "get_started_banner.jpg" ), 'get-started'

			%h2
				= image_tag( "logo_icon.png" )
				BackMyBook gives you
			%ul
				%li <b>Free</b> online store - sell e-books in ANY format, audio-books, even hardcovers and merchandise
				%li Industry-leading 90/10 royalties
				%li Email marketing -- sign-up your readers and send newsletters
			%h2
				= image_tag( "trial_icon.png" )
				Try us <span class="red">risk free</span>
			%ul
				%li The BackMyBook service is <span class="red">FREE</span> to use! No upfront fees, charges, or subscriptions
				%li Free branded store setup and customization
				%li Personalized service and support
				
			%h2
				= image_tag( "cost_icon.png" )
				How much does it cost?
			%ul
				%li The BackMyBook service is <span class="red">FREE</span> to use
				%li When you sell a book, you keep 90% of the net revenue, we keep 10%
			
			.get_started
				= link_to image_tag( "get_started_button.png" ), 'get-started'
			
			%br
			%br.clear

		
			
	
- content_for :right_column do

	.hp_promo
		= link_to image_tag( "bmb_sigler_hp_promo.jpg" ), 'authors/scott-sigler'

	.follow-me.ui-helper-clearfix
		%h3 Follow Us
		%div
			= link_to image_tag( 'twitter.jpg' ), "http://twitter.com/backmybook"
			= link_to image_tag( 'facebook.jpg' ), "http://www.facebook.com/pages/BackMyBook/129259667097024"
			= link_to image_tag( 'rss.jpg',:alt=>'rss feed' ), "http://feeds.feedburner.com/TheBackmybookBlog"
			= link_to image_tag( 'mail.jpg',:alt=>'contact author', :class => :toggle_contact_form ), ""
		#contact_form
			%br.clear
			= form_for Contact.new do |f|
				= f.label "Email:"
				= f.text_field :email
				= f.submit 'Submit'
	
	%div
		- unless @current_site.podcasts.empty?
			%h3 
				=link_to 'Podcast', podcasts_url
			%div.text 
				- for episode in @current_site.podcasts.first.episodes
					.episode
						= image_tag "podcast_icon.png", :width => 20
						= link_to episode.title, podcast_episode_url( episode.podcast, episode )
			
	%div.blog-entries
		%h3 
			Recent Blog Articles
		.recent_posts
			- for article in @recent_blog_posts
				.text
					.recent_preview
						.recent_title
							= link_to article.title, blog_link( article )
						= snip article.content.html_safe, 140


		