.pad_content
	.top_promo.clearfix
		%ul.home_nav
			%li.sell
				= link_to '/features' do
					%span Features
			%li 
				= link_to '/faq' do
					%span FAQs
			%li 
				= link_to '/about' do
					%span About Us
			%li 
				= link_to '/contacts/new' do
					%span Contact Us
			%li.social
				= link_to image_tag( "facebook.png" ), 'http://www.facebook.com/pages/BackMyBook/129259667097024?sk=wall'
				= link_to image_tag( "twitter.png" ), 'http://twitter.com/backmybook'

	%p.intro
		Finally... A website, e  marketing & e  commerce tools just for writers.
	%h1
		Author’s Website & Marketing Toolkit
	
	.presentation.clearfix
		%ul.steps.clearfix
			%li.setup
				.icon
					&nbsp;
				%h2
					Setup Your Website
				%p
					Built just for authors, you get powerful marketing and selling tools in one easy-to-use package. It’s all here, and we support you 100% of the way.
			%li.readers
				.icon
					&nbsp;
				%h2
					Connect to Readers
				%p
					Remove the mystery around marketing to find new readers. With our online e-marketing tools you can build a community and find your audience.
			%li.affordable
				.icon
					&nbsp;
				%h2
					Keep it Affordable
				%p
					For $19.99 a month you get a website, hosting, a store to sell books and merchandise, e-mail marketing, a blog, and more. And if you’re still on the fence...
		%p.risk_free
			Try It FREE - Take a 30 Day, No-Risk Trial
		.get_started
			= link_to 'Get Started!', 'https://backmybook.com/orders/new?sku=25', :class=>'start-button'
			%p
				= link_to 'View Complete Feature List', 'https://backmybook.com/features'
	
	.lower-hp
		%h2
			A Few Samples...
		
		.samples.clearfix
			.col.col1
				%h3
					= link_to 'http://backmybook.com/authors/christof-laputka/bio' do 
						Christoph Laputka
				%p
					Science Fiction Author
				= link_to image_tag('christoph-laputka.png'), 'http://backmybook.com/authors/christof-laputka/bio'
				
			.col.col2
				%h3
					= link_to 'http://backmybook.com/authors/scott-sigler/books' do 
						Scott Sigler
				%p
					New York Times Bestselling Author
				= link_to image_tag('scott-sigler.png'), 'http://backmybook.com/authors/scott-sigler/books'
				
			.col.col3
				%h3
					= link_to 'http://backmybook.com/authors/virginia-brown/books/dixie-divas' do 
						Virginia Brown
				%p
					Romantic Times Reviewer’s Choice Nominee
				= link_to image_tag('virginia-brown.png'), 'http://backmybook.com/authors/virginia-brown/books/dixie-divas'

		.testimonials.clearfix
			%ul
				%li.test1
					.crop
					.headshot= image_tag 'sigler_hs.jpg'
					The BackMyBook system makes it easy to sell hardcovers, paperbacks, eBooks, downloadable audiobooks and any other kind of merchandise. It's an exceptional solution for authors that want to take more control of their own brand and product line.
					%p.bold 
						&#45; 
						= link_to 'Scott Sigler', 'http://backmybook.com/authors/scott-sigler/store'
					New York Times best-selling author
				%li.test2
					.crop
					.headshot= image_tag 'limber_hs.jpg'
					The BackMyBook team has been there for me anytime I've needed them.  They've helped me with every step of my journey on the Internet.  I'd highly recommend them to any author who is looking to maximize their Internet potential.
					%p.bold 
						&#45; 
						= link_to 'Jill Limber', 'http://jilllimber.com'
					Former President Romance Writers of America
				%li.test3
					.crop
					.headshot= image_tag 'gregory_hs.jpg'
					BackMyBook always packs the room at our conference, giving out great insights and advice to our authors on how to best utilize the Internet, social networks, and technology overall.
					%p.bold 
						&#45; Michael Steven Gregory
					Executive Director Southern California Writers' Conference
		.message
			%h2
				A Message From Our Founders...
	
			<iframe width="480" height="300" src="http://www.youtube.com/embed/bMiDFiAT6BE" frameborder="0" allowfullscreen></iframe>
		
			.get_started
				= link_to 'Get Started!', 'https://backmybook.com/orders/new?sku=25', :class=>'start-button'
	
	%br.clear

