- content_for :left_column do
	= image_tag "welcome_authors.jpg"
	.pad_content
		#home_blog
			%h3
				On being a 21st Century Author and more...
			- for item in @items
				-if item.is_a? Article
					.home_article_header
						.type_icon
							= image_tag "blog_post_icon.png", :height => 32
						.title
							= link_to item.title, blog_url( item )
						.participate
							= image_tag "comment.png", :width => 20
							= pluralize item.comments.count, "Comment"
							%br
							- if item.comments.count > 0
								.converse= link_to "Join the Conversation", blog_url( item ) + "#comment"
							- else
								.converse= link_to "Be the first!", blog_url( item ) + "#comment"
					%br.clear
					= snip item.content.html_safe, 500
					%hr.home
				-if item.is_a? Episode
					.home_article_header
						.type_icon
							= image_tag "podcast_icon.png", :width => 32
						.title
							= link_to item.title, podcast_episode_url( item.podcast, item )
						.participate
							= image_tag "comment.png", :width => 20
							= pluralize item.comments.count, "Comment"
							%br
							- if item.comments.count > 0
								.converse= link_to "Join the Conversation", podcast_episode_url( item.podcast, item ) + "#comment"
							- else
								.converse= link_to "Be the first!", podcast_episode_url( item.podcast, item ) + "#comment"
					%br.clear
					= snip item.description.html_safe, 500
					%hr.home
	
- content_for :right_column do
	.pad_content
		%h3 Buy Some Books
		= link_to image_tag( 'home_starter_rookie.png' ), 'authors/scott-sigler'
	.follow-me.ui-helper-clearfix
		%h3 Follow Us
		%div
			= link_to image_tag( 'twitter.jpg' ), "http://twitter.com/backmybook"
			= link_to image_tag( 'facebook.jpg' ), "http://www.facebook.com/pages/BackMyBook/129259667097024"
			= link_to image_tag( 'rss.jpg',:alt=>'rss feed' ), "http://feeds.feedburner.com/TheBackmybookBlog"
			= link_to image_tag( 'mail.jpg',:alt=>'contact author', :class => :toggle_contact_form ), ""
		#contact_form
			%br.clear
			= form_for Contact.new do |f|
				= f.label "Email:"
				= f.text_field :email
				= f.submit 'Submit'
			
	%div
		- unless @current_site.podcasts.empty?
			%h3 
				=link_to 'Podcast', podcasts_url
			%div.text 
				- for episode in @current_site.podcasts
					= link_to episode.title, podcast_episode_url( episode.podcast, episode )
					
	- unless @activities.empty?
		%br
		%div
			%h3 
				=link_to 'Site Activity','#'
			%div.text 
				- for activity in @activities
					= render activity

		