- if addr_type == 'select'
	= addr_form.select :address_type, [ ['Shipping', 'shipping'], ['Billing', 'billing'] ]
- else
	= addr_form.hidden_field :address_type, :value => addr_type
%br
= addr_form.fields_for :geo_address do |geo_form|
	%b First Name:
	= geo_form.text_field :first_name

	%b Last Name:
	= geo_form.text_field :last_name

	%br
	%b Street
	= geo_form.text_field :street
	%br
	%b Street 2
	= geo_form.text_field :street2

	%br
	%b City, ST, Zip
	= geo_form.text_field :city
	= geo_form.collection_select :geo_state_id, @states, :id, :name
	= geo_form.text_field :zip, :size => 10
%br