-# Fields for an address form.  Takes a GeoAddress object instance (addr) passed in to setup defaults (e.g. to edit an address)

- if addr.address_type == 'select'
	.order_label
		Address Type:
	.order_field
		= addr_form.select :address_type, [ ['Shipping', 'shipping'], ['Billing', 'billing'] ]
- else
	= addr_form.hidden_field :address_type, :value => addr.address_type
.order_label
	First Name:
.order_field
	= addr_form.text_field :first_name, :value => addr.first_name
.order_label
	Last Name:
.order_field
	= addr_form.text_field :last_name, :value => addr.last_name
.order_label
	Street:
.order_field
	= addr_form.text_field :street, :value => addr.street
.order_label
	Street2:
.order_field
	= addr_form.text_field :street2, :value => addr.street2
.order_label
	City:
.order_field
	= addr_form.text_field :city, :value => addr.city
.order_label
	State/Province/Region:
.order_field
	= addr_form.text_field :state, :value => addr.state

.order_label
	Country:
.order_field
	= addr_form.collection_select :country, @countries, :abbrev, :name
.order_label
	Zip:
.order_field
	= addr_form.text_field :zip, :value => addr.zip, :size => 10
%br.clear