%table
	%tr
		%td
			%b Name:
		%td
			= addr_form.text_field :name
	%tr
		%td
			%b Street:
		%td
			= addr_form.text_field :street
	%tr
		%td
			%b Street2:
		%td
			= addr_form.text_field :street2
	%tr
		%td
			%b City:
		%td
			= addr_form.text_field :city
	%tr
		%td
			%b State:
		%td
			= addr_form.collection_select :geo_state_id, @states, :id, :name
	%tr
		%td
			%b Zip
		%td
			= addr_form.text_field :zip, :size => 10
%br