-# Fields for an address form.  Takes a GeoAddress object instance (addr) passed in to setup defaults (e.g. to edit an address)

- if addr_type == 'select'
	.order_label
		Address Type:
	.order_field
		= addr_form.select :address_type, [ ['Shipping', 'shipping'], ['Billing', 'billing'] ]
- else
	= addr_form.hidden_field :address_type, :value => addr_type
.order_label
	Name:
.order_field
	= addr_form.text_field :name
.order_label
	Street:
.order_field
	= addr_form.text_field :street
.order_label
	Street2:
.order_field
	= addr_form.text_field :street2
.order_label
	City:
.order_field
	= addr_form.text_field :city
.order_label
	State:
.order_field
	= addr_form.text_field :state
.order_label
	Zip:
.order_field
	= addr_form.text_field :zip, :size => 10
%br.clear