- content_for :left_column do
	= image_tag( @podcast.avatar.location( :thumb ), :width => @podcast.avatar.thumb_width ) if @podcast.has_attached_avatar?
	%h1= @podcast.title
	= @podcast.subtitle
	%br
	%br
	= @podcast.description
	%br
	%br
	- unless @podcast.episodes.empty?
		%h3 Episodes

		%table{:cellspacing => 0}
			- for episode in @podcast.episodes.reverse
				%tr
					%td
						%b= link_to episode.title, episode_link( episode )
						(
						= format_date_only episode.created_at
						)
						%br
						= snip episode.description, 200
					%td= episode.duration
	- else
		%h3 No Episodes yet....

- content_for :right_column do
	&nbsp;



