- content_for :left_column do
	= render :partial => 'admin/nav'
		
- content_for :middle_column do
	%h1 
		Inventory Report for
		= @current_author.pen_name
	%table.admin_table
		%tr
			%td 
				%b Merchandise
			%td 
				%b Units remaining
			%td
				%b Warning threshold
			
		-for item in @merches
			- if item.inventory_count > 0
				%tr
					%td= item.title
					%td= item.inventory_count
					%td= item.inventory_warning

	

		

- content_for :right_column do
	= render 'shared/help'

		
