- content_for :left_column do
	= render :partial => 'admin/nav'
		
- content_for :middle_column do
	%h1 
		Inventory Report for
		= @current_author.pen_name
	%table.admin_table
		%tr
			%td 
				%b Item
			%td 
				%b Units remaining
			%td
				%b Action
			
		-for merch in @merches
			- if merch.inventory_count > 0
				%tr
					%td= merch.title
					%td= merch.inventory_count
					%td= link_to "edit", edit_author_merch_path( @current_author, merch )

	

		

- content_for :right_column do
	= render 'shared/help'

		
