- content_for :left_column do
	= render :partial => 'admin/nav'
		
- content_for :middle_column do
	%h1 
		Inventory Report for
		= @current_author.pen_name
	%table.admin_table
		%tr
			%td 
				%b SKU
			%td 
				%b Number remaining
			
		-for sku in @skus
			- if sku.number_remaining > 0 
				%tr
					%td= sku.title
					%td= sku.number_remaining

	

		

- content_for :right_column do
	= render 'shared/help'

		
