- content_for :left_column do
	= render :partial => 'admin/nav'
		
- content_for :middle_column do
	%h1 Sales
	%br
	%h3 Recent Sales
	%table.admin_table
		%tr
			%td 
				%b Date
			%td 
				%b Confirmation #
			%td 
				%b Item
			%td 
				%b Quantity
			%td 
				%b Amount				
		-for order in @orders_past_day
			%tr
				%td= order.created_at.to_date
				%td= link_to order.order_transaction.reference, inspect_order_url( order , :protocol => SSL_PROTOCOL )
				%td= order.sku.title
				%td= order.sku_quantity
				%td= format_price( order.total )
	%br
	%h3 Weekly Summary
	for week ending
	= format_date_only( @week_ending - 1.second )
	%br
	%br
	- if @orders_for_week_ending.count > 0 
		%table.admin
			%tr
				%td
					%b SKU
				%td
					%b Sales	
			- @orders_by_sku_week_ending.each do |sku|
				- sku.each do |sku|
					%tr
						%td.data_wide= sku[0]
						%td= sku[1]
	- else 
		No orders for the week

	%br
	%hr
	%br
	%h3 Select Period
	= render :partial => 'shared/date_picker'
	%br			
	%h4 Total Sales in Period
	= number_to_currency( @total_sales )

	%br
	%br
	%h4 Average Daily Sales in Period
	= number_to_currency( @avg_daily_sales )

	
	- if @orders_for_period.count > 0 
		#daily_sales_div
		%script( type="text/javascript" )	
			= update_page do |page|
				- page << plot( 'daily_sales_div', @daily_sales, :seriesDefaults => { :color => "#3d3" }, :title => "Daily Sales Amounts", :axes => { :xaxis => { :renderer => plot_renderer(:date_axis), :tick_options => { :format_string => '%b %#d, %Y' } }, :yaxis => { :tick_options => { :format_string => '$%.2f' }, :min => 0 } }, :highlighter => {:show => true, :sizeAdjust => 10}  )
	
		%br
		%br
	
		#daily_orders_div
	
		%script( type="text/javascript" )	
			= update_page do |page|
				- page << plot( 'daily_orders_div', @daily_orders, :seriesDefaults => { :color => "#3d3" }, :title => "Number of Sales Daily", :axes => { :xaxis => { :renderer => plot_renderer(:date_axis), :tick_options => { :format_string => '%b %#d, %Y' } }, :yaxis => { :tick_options => { :format_string => '%.0f' }, :min => 0 } }, :highlighter => {:show => true, :sizeAdjust => 10}  )

		%br
		%br

		#pie_orders_by_sku_div

		%script( type="text/javascript" )	
			= update_page do |page|
				- page << plot( 'pie_orders_by_sku_div', @orders_by_sku, :seriesDefaults => { :renderer => plot_renderer(:pie), :rendererOptions => {:diameter => 250, :sliceMargin=> 5, :showDataLabels => true, :dataLabels => "value", :highlightMouseOver => true } }, :title => "Sales by SKU", :legend => {:show => true, :location => 'w'}, :highlighter => {:sizeAdjust => 10} )


		

- content_for :right_column do
	= render 'shared/help'

		
