.listing
	.listing_avatar
		= avatar_tag( item, :thumb, :width => 64 )
	.listing_data
		.listing_title
			- if item.class.name == 'Merch'
				= link_to item.title, author_store_url( @author, item )
			- else
				= link_to item.title, author_book_url( @author, item )
		.listing_buy
			= link_to "Buy #{sku.title} #{format_price( sku.price )}", new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL )
	.clear