.listing
	.listing_avatar
		= avatar_tag( avatar_item, :thumb, :width => 64 )
	.listing_data
		.listing_title
			- if avatar_item.class.name == 'Merch'
				= link_to sku.title, author_store_url( @author, sku )
			- else
				= link_to sku.title, author_book_url( @author, avatar_item )
		.listing_buy
			.button
				=link_to "Buy It #{format_price( sku.price )}", new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL ), :class=>'dark-gray'
		.listing_description
			= snip( sku.description.html_safe, 140 )
	.clear