.listing.store
	.listing_avatar
		- if sku.avatar.present?
			= link_to avatar_tag( sku, :thumb, :width => 64 ), buy_path( @author, sku )
		- elsif sku.book.present?
			= link_to avatar_tag( sku.book, :thumb, :width => 64 ), buy_path( @author, sku )
	.listing_data.clearfix
		.listing_title
			= link_to sku.title, author_store_url( @author, sku )
	
		.book-info
			.listing_buy
				- if sku.show_inventory? 
					.inventory_count
						= "#{sku.show_inventory?} remaining!"
				- if sku.sold_out?
					.inventory_count
						Sold Out :(
				- else
					.button
						= link_to "Buy It #{format_price( sku.price )}", buy_path( @author, sku )
		.listing_description
			= snip( sku.description.html_safe, 140 )
	.clear