.listing
	.listing_avatar
		= avatar_tag( item, :thumb, :width => 64 )
	.listing_data
		.listing_title
			= link_to item.title, author_store_path( @author, item )
		.listing_genre
			= sku.sku_type
		.listing_buy
			= link_to "Buy #{sku.title} #{format_price( sku.price )}", new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL )
	.clear