.listing.store
	.listing_avatar
		- if sku.avatar.present?
			= link_to avatar_tag( sku, :thumb, :width => 64 ), new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL )
		- else
			= link_to avatar_tag( sku.book, :thumb, :width => 64 ), new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL )
	.listing_data.clearfix
		.listing_title
			- if sku.book_sku?
				= link_to sku.title, author_book_url( @author, sku.book )
			- else
				= link_to sku.title, author_store_url( @author, sku )
		.book-info			
			.listing_buy
				.button
					=link_to "Buy It #{format_price( sku.price )}", new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL ), :class=>'yellow'
		.listing_description
			= snip( sku.description.html_safe, 140 )
	.clear