- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		= form_for @current_author do |f|
			%h3 Store Promo (appears on top of Store listings)

			= f.text_area :promo, :class => 'editor'
			= f.submit "Update Promo", :class => :buttons
		%br.clear
- content_for :right_column do
	= render 'shared/help'
	%hr
	%h3 Tips
	-unless @current_author.has_valid_subscription?( Subscription.first )
		%p 
			Sign up for a 
			= link_to 'Platform Builder Account!', platform_builder_authors_path