- content_for :left_column do
	%h1
		= @sku.title
		
	= @sku.description
	.price
		Price:
		= format_price( @sku.price )
		= link_to "Buy Now", new_author_order_path( @current_author, :sku => @sku ), :protocol => Rails.env.production? ? "https" : "http"

	.items
		Contains:
		- for item in @sku.items
			%div[item]
				= item.title
				|
				= item.type if item.respond_to? 'type'
				|
				= item.document.location if item.respond_to? 'document'
- content_for :right_column do
	&nbsp;