- content_for :left_column do
	- if @sku.merch_sku?
		= render 'merches/merch', :merch => @sku.merches.first, :sku => @sku
	- else
		.books
			.left_col
				.book_thumb
					- if @sku.book_sku?
						= avatar_tag( @sku.book, :profile, :width => 150 )
					- else
						= avatar_tag( @sku, :profile, :width => 150 )
				.button
					=link_to "Buy It #{format_price( @sku.price )}", new_author_order_url( @author, :sku => @sku, :protocol => SSL_PROTOCOL ), :class=>'dark-gray'

				.also-available
					%h3 Contains
					%ul
						- for item in @sku.items
							- if item.respond_to? 'document'
								%li
									= link_to "#{item.title} #{item.document.format} File", "", :class => 'main'
									%em= link_to number_to_human_size( item.document.filesize ), ""
									
							- else
								%li
									= link_to item.title, "", :class => 'main' 
									%em= link_to item.type, "" if item.respond_to? 'type'


				- unless @sku.book.custom_skus.empty? && @sku.book.merch_skus.empty?
					.also-available
						%h3 Also Available
						%ul
							- for sku in @sku.book.merch_skus
								%li
									= link_to sku.title, author_store_url( @author, sku ), :class => 'main' 
									%em= link_to "#{format_price( sku.price )} buy", new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL )
							- for sku in @sku.book.custom_skus
								%li
									= link_to sku.title, author_store_url( @author, sku ), :class => 'main' 
									%em= link_to "#{format_price( sku.price )} buy", new_author_order_url( @author, :sku => sku, :protocol => SSL_PROTOCOL )

			.right_col.text
				%h1= @sku.title
				.book-meta.clearfix
					.info
						- if @sku.book.genre.present?
							%p
								Genre:
								%em= @sku.book.genre.name
						%p 
							By:
							%em= @sku.book.author.pen_name
					.ratings
						%p Avg rating: 
						%ul.star-rating
							%li.current-rating{ :style => "width:#{ ( @sku.book.review_average * 125 ) / 5 }px;" }
				.book_content	
					= @sku.description.html_safe
				.clear
	
- content_for :right_column do
	&nbsp;
	
	