!!!strict
%html
	%head
		= render :partial => 'layouts/meta'
		= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/smoothness/jquery-ui.css'
		/[if IE]
			= javascript_include_tag "excanvas.min.js"
		= stylesheet_link_tag 'colorpicker'
		= javascript_include_tag "jqplot/jquery.jqplot.min"
		= javascript_include_tag "jqplot/plugins/jqplot.highlighter.min"
		= javascript_include_tag "jqplot/plugins/jqplot.barRenderer.min"
		= javascript_include_tag "jqplot/plugins/jqplot.pieRenderer.min"
		= javascript_include_tag "jqplot/plugins/jqplot.dateAxisRenderer.min"
		= javascript_include_tag "jqplot/plugins/jqplot.categoryAxisRenderer.min"
		= javascript_include_tag "jqplot/plugins/jqplot.canvasTextRenderer.min"
		= javascript_include_tag "jqplot/plugins/jqplot.canvasAxisTickRenderer.min"
		= javascript_include_tag "jqplot/plugins/jqplot.canvasAxisLabelRenderer.min"
		= stylesheet_link_tag "jqplot/jquery.jqplot.min"
		= render 'layouts/meta'
	%body
		= render 'layouts/noscript_alert'
		#container
			= render 'shared/header'
			#bd
				.left_col
					.pad_content
						= yield :left_column
				.middle_col
					.pad_content
						= render 'shared/flash', :flash => flash
						= yield :middle_column
				.right_col
					.pad_content
						= yield :right_column
			= render 'shared/footer'
		= render 'shared/analytics'
		= render 'shared/scripts'