!!!strict
%html
	%head
		= render 'layouts/meta'
	%body
		= render 'layouts/noscript_alert'
		#container
			= render 'shared/header'
			#bd
				.column1
					.author_bd
						#inner-content-wrapper
							= render 'shared/flash', :flash => flash
							= yield :left_column
				.column2
					.pad
						= yield :right_column
			= render 'shared/footer'
		= render 'shared/analytics'
		= render 'shared/scripts'

