!!!strict
%html
	%head
		= render :partial => 'layouts/meta'
		- if @theme
			= render :partial => 'shared/custom_style'
	%body
		#container
			= render :partial => 'shared/header'
			#bd
				= render :partial => 'shared/flash', :locals => { :flash => flash }
				.column1
					.author_hd
						%h1
							- if @theme.nil? || @theme.show_pen_name
								= @author.pen_name
							- else
								&nbsp;
						.author_corner
							= render :partial => 'authors/menu'
					.author_bd
						#inner-content-wrapper
							= yield :left_column
				.column2
					.author_photo
						= avatar_tag( @author, 'profile' )
					= yield :right_column
					= render :partial => 'authors/right_column'
			= render :partial => 'shared/footer'
		= render :partial => 'shared/analytics'
		= render :partial => 'shared/scripts'