!!!strict
%html
	%head
		= render 'layouts/meta'
		- if @theme
			= render( 'shared/custom_style').gsub( /\n/,"" )
	%body
		= render 'layouts/noscript_alert'
		#container
			= render 'shared/header'
			#bd
				.column1
					.author_hd
						%h1
							- if @theme.nil? || @theme.show_pen_name
								= @author.pen_name
							- else
								&nbsp;
						.author_corner
							= render 'authors/menu'
					.author_bd
						#inner-content-wrapper
							= render 'shared/flash', :flash => flash
							= yield :left_column
				.column2
					.author_photo
						- if @author.avatar.present?
							= avatar_tag( @author, nil, :width => 250 )
					= yield :right_column
					= render 'authors/right_column'
			= render 'shared/footer'
		= render 'shared/analytics'
		= render 'shared/scripts'