!!!strict
%html
	%head
		= render 'layouts/meta'
	%body
		= render 'layouts/noscript_alert'
		#container
			#bd
				.pad_content
					= render 'shared/flash', :flash => flash
					= yield
			= render 'shared/footer'
		= render :partial => 'shared/analytics'
		= render :partial => 'shared/scripts'