!!!strict
%html
	%head
		= render 'layouts/meta'
	%body
		= render 'layouts/noscript_alert'
		#container
			= render 'shared/header'
			#bd
				.home_left
					= render 'shared/flash', :flash => flash
					= yield :left_column
				.home_right
					= yield :right_column
			= render 'shared/footer'
		= render 'shared/analytics'
		= render 'shared/scripts'