!!!strict
%html
	%head
		= render 'layouts/meta'
	%body
		= render 'layouts/noscript_alert'
		#container.home
			= render 'shared/header'
			#bd
				= render 'shared/flash', :flash => flash
				= yield
	
			= render 'shared/footer'
		= render 'shared/analytics'
		= render 'shared/scripts'